[2015-05-25 16:48] Croydon opened #1 "Make settings persistent"
Currently, the settings get resetted on every initiation of the addon.

[2015-05-26 23:22] Croydon opened #2 "Sometimes pinned tabs are getting hidden"
Perhaps this also happens in the Linux and Mac Themes.

[2015-05-27 00:09] Croydon opened #3 "Addon icon/logo"
I'm open for all kind of suggestions :)

[2015-05-29 00:29] Croydon opened #4 "Better interaction with tab groups"

[2015-06-18 06:50] woj-tek opened #5 "publication to mozilla addons for auto-update"
This is more of a question but are there any plans to publish the add-on to mozilla website so it would be auto-updated?

[2015-06-21 17:56] panosl opened #6 "hide/show vertical tabs"
have an option like cmd+opt+t to hide/show the vertical tabs.

My experience is that since I switched to ultrawide monitor I have 2 windows of firefox open at times and I only keep the tab bar open on the base one and just need a base window with no tab bar on the one I'm doing a quick search on, thus being it's not need (the vertical tab bar).

[2015-06-21 17:59] panosl opened #7 "switch to packages.json"
Is it possible to switch on package.json and be able to leverage cfx for easier testing and is it worth it?

[2015-07-16 22:27] Croydon commented on #5
Since Firefox will reject soon all installations of addons which aren't signed, yes.
In fact I have already uploaded it, but it's still in the waiting list.

[2015-07-17 06:21] woj-tek commented on #5
Great, thanks! :-)

[2015-07-27 18:48] Croydon opened #8 "Disabling the addon leaves a broken tab bar"
Original from @Mossop:

[2015-08-24 15:15] zilluss opened #9 "Close/Minimize/Hamburger Buttons overlap"
When Vertical Tabs is enabled, the window buttons overlap the back button see the attached image.
<img width="121" alt="screen shot 2015-08-24 at 17 13 34" src="https://cloud.githubusercontent.com/assets/673648/9443840/b0f1c678-4a83-11e5-867a-c9ea1c384454.png">

[2015-08-31 07:25] steampunklolcat commented on #5
It was shortly available on amo, why was it removed again?

[2015-08-31 13:06] Croydon commented on #5
I did hide the addon on AMO for the time being, because the addon still has some serious issues and I don't want to get more publicly before some stuff is fixed.

Unfortunately, my time for this project is very limited and I'm a Firefox addon newbie. So please don't expect that everything is done in two days. Contributings are very appreciated. After all I just started this fork because I couldn't

[2015-08-31 21:14] steampunklolcat commented on #5
That's fair enough. It has worked fine here so far though.

[2015-09-14 20:46] Croydon commented on #7
I have made a try a few days ago, but runned into a few problems. E. g. no options were displayed.
I will dig deeper into it as soon as I can :)

[2015-12-16 14:08] woj-tek commented on #5
OK, given that Mozilla is advancing the idea of blocking unsigned extensions (bleh! :/) are there plans to un-hide the extension on AMO? I'm using it extensively almost since beginning and find it very stable.

[2015-12-16 18:10] Croydon commented on #4
Mozilla will remove tab groups with Firefox 45.

[2016-02-27 23:34] #1 closed

[2016-02-28 12:15] Croydon commented on #5
I have decided to list the addon publicly, even I still consider it as not-so-stable.

You can install it now from https://addons.mozilla.org/firefox/addon/vertical-tabs-reloaded/

An update, which introduces, for instance, the feature that the tabbar is getting hidden in fullscreen, is already in the waitinglist.

[2016-02-28 12:15] #5 closed

[2016-02-28 21:22] Croydon commented on #7
@panosl I will soon move it to package.json + JPM

[2016-02-29 15:56] Croydon commented on #9
@zilluss Sorry, for not answering "in a while".

If you should still be interested in this addon could you please try it again and check if the config `browser.tabs.drawInTitlebar` is set to `false`? You can change/see this setting if you are entering `about:config` in your Firefox and search for the string.

Does it solve the problem?

[2016-02-29 19:57] Croydon commented on #6
@panosl Will be getting shipped in v0.4.0.
The default hotkey will be control-alt-v, however it is easily changeable in the settings.

[2016-02-29 21:14] Croydon opened #10 "Multiselection of tabs is broken"
And when I'm saying broken then I'm meaning aweful broken.
Two possibilities:
 - fix it
 - remove it

Contributions on this matter would been highly appreciated.
Right now I am tend to remove it, however, I haven't decided yet.

[2016-02-29 21:15] Croydon opened #11 "Add option to reset settings to default"
Add an element to UI which allows this.

[2016-02-29 21:57] panosl commented on #6
Awesome news :)

[2016-02-29 21:58] panosl commented on #7
Finally you've picked up development again :P

[2016-03-03 18:18] Croydon commented on #8
This also affects updates and is therefore critical.

[2016-03-05 21:11] yafp commented on #3
Hi,
got 0.3.2 running right now - is it on purpose that the icon contains the string VRT - while the addon itself is called 'vertical tabs reloaded' -> VTR might fit better ;)

[2016-03-05 21:16] Croydon commented on #7
@yafp The migration to package.json was done with f67563bb2b9c829754b6b8e8cc37dedbbe3a7eb1, however, it is not ready yet, since it introduced a major issue: When tabs are getting closed it lefts often a blank space where the tab was, also sometimes the tabs aren't getting really closed, they seem to be just invisble till you restart Firefox.

I am currently a bit clueless about what exactly I brok

[2016-03-05 21:22] yafp commented on #7
@Croydon thx

[2016-03-05 21:24] Croydon commented on #3
Ooops, indeed, seems like a lot of embarrassing stuff can happening if you are trying to be productive while tired. 😅
Will be fixed. Thanks.

[2016-03-05 21:25] yafp commented on #3
;)

[2016-03-10 15:42] Croydon commented on #7
@yafp I have tried it now with four different profiles on two computers and I only get this problem with a version of the branch new_themes, so it is kinda hard to debug for me. However, it seems like you wouldn't be the only one who has this issue already with the 0.3.2 version.

Could you perhaps check out if you have this bug in 0.3.0 as well? You could install the version from https://addons.m

[2016-03-10 18:50] Croydon opened #12 "Remove broken group feature"
Once upon a time there was a working group feature for tabs. The advantage was clear; one was able to order tabs after their respective content.
But then the active developer(s) of the add-on changed serveral times and very often the whole development was concentrated on hotfixes for staying compatible with the latest Firefox versions.
The end result was a code base which is making use of differen

[2016-03-10 19:22] Croydon opened #13 "[Meta] Refactor to WebExtension add-on"
Till the end of 2017 (ca. 2017-11-14, release of FF v57) add-ons need to be rewritten as WebExtensions.

This affects which Firefox version VTR will be able to support, please read: https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-271294600 for more information. When the porting to WebExtensions is done I will declare this add-on for the first time as stable, since it's eli

[2016-03-11 19:24] yafp commented on #7
@Croydon
alright - started using 0.3.0 now - gonna report back as soon as i notice something

[2016-03-14 03:36] FinnDorian opened #14 "gap between tabs when closing them"
The gap between tabs when you close them stays sometimes....
![gap](https://cloud.githubusercontent.com/assets/17819893/13734447/57e765c8-e99e-11e5-9f5a-c1d299a8746c.png)

[2016-03-14 03:39] FinnDorian opened #15 "can't move/sort tabs anymore"
I think I have the problem since the last ff update to 45.0...
I can't move the tabs anymore, nothing happens when I try to drag them up or down...

[2016-03-14 09:43] yafp commented on #15
Which addon-version are you using?
Can't reproduce with addon 0.3.2 on Linux running FF 45.0

[2016-03-14 09:52] yafp commented on #14
Seems like you are not the only one with this issue. Some were talking already in issue #7 about this effect.

@Croydon:
i can now confirm that i was able to reproduce this issue several times with the old 0.3 version/build. So for me it looks like the issue started before 0.3. and for sure before 0.3.2

Hope that helps

[2016-03-14 11:48] yafp commented on #2
You you mean the pinned tab isn't visible at all?
Or that it looks like a normal tab?

[2016-03-14 14:29] FinnDorian commented on #15
I'm using 0.3.2 on win 10 with FF 45.0... I tried other extensions like side bars/ vertical tabs (simplyfied) etc. and I'm having the same problem with all of them, so I thought it has something to do with the FF update...
I'll try deactivating all my other addons and see if one of them is affecting vertical tabs reloaded...

[2016-03-14 16:33] Croydon commented on #2
Right, it was not visible anymore at all. However, I have not experienced this bug in a long time. So it may be already fixed or was never a bug in a released version or something.

I will close it soon if nobody will report something like that.

[2016-03-14 16:37] Croydon commented on #14
@yafp Thank you for testing! If this is already happening with the 0.3 version then it could be that some change in Firefox broke something somewhere somewhen.

However, I am still clueless why it should happen just sometimes and not even in all Firefox profiles/settings/setups. I will continue to hunt the bug down as soon as I can.

[2016-03-14 21:28] #3 closed

[2016-03-14 21:28] #6 closed

[2016-03-14 21:28] #7 closed

[2016-03-14 21:28] #12 closed

[2016-03-14 21:29] #10 closed

[2016-03-14 21:50] FinnDorian commented on #15
I'm using 0.3.2 on win 10 with FF 45.0... I tried other extensions like side bars/ vertical tabs (simplyfied) etc. and I'm having the same problem with all of them, so I thought it has something to do with the FF update...
I'll try deactivating all my other addons and see if one of them is affecting vertical tabs reloaded...

[2016-03-15 15:25] xxdavid commented on #14
I think I noticed this gaps on Sunday for the first time. It occurred after I disabled and then enabled again the addon.

[2016-03-15 16:34] Croydon commented on #14
@yafp, @xxdavid Could you two please try to do the following:
1) Remove the add-on
2) Close the open Add-on mananger (only then add-ons are getting really removed)
3) Restart Firefox
4) Install the latest version of the add-on

It might have to do something with a corrupt session storage. If you try it, please report back if the bug is still there. Thanks in advance :smile:

@FinnDorian: Did you i

[2016-03-15 16:41] xxdavid commented on #14
@Croydon, it looks like it works now! Thank you!

[2016-03-15 16:44] Croydon commented on #14
@xxdavid Well, it is not fixed yet, but I may have finally a clue where this bug comes from :)

[2016-03-15 17:52] yafp commented on #14
@Croydon
i did so - gonna report back in a few days.

[2016-03-15 17:57] FinnDorian commented on #14
@Croydon I did so too, for now the bug seems to have disappeared :) I'm using sessionmanager addon, maybe it has to do something with it?
I can't remember which version I installed first, sorry. But I enabled/disabled my plugins a lot because I compared vertical tabs addons and found yours to be the best ;)

[2016-03-15 18:37] Croydon commented on #14
@yafp Thanks. Please note that an update is in the queue. I am expecting that it will work fine till it will update in your Firefox or till you manually disable/enable the current version (don't do this please).

@FinnDorian Nope, no third party is to blame here.

I guess the bug is related to #8: The unload process is broken.

[2016-03-15 21:13] Croydon commented on #15
@FinnDorian The add-on page states that the developer will not longer maintaince it and that it will stop working in Firefox 47. Unfortunately, it seems like you need to search for a replacement anyway. :)

[2016-03-15 21:13] #15 closed

[2016-03-16 22:40] Croydon opened #16 "Dark/Linux/Light Theme: Unwanted white horizontal bar at bottom"
There is a persistent white horizontal line at the bottom of the browser windows.
Found out why and remove it.

[2016-03-17 05:15] giraffe17 opened #17 "Double click doesn't create a new tab anymore"
Happened after latest update

[2016-03-17 17:28] Croydon commented on #17
@giraffe17  Could you please provide more information? Where are you performing a double click?

[2016-03-17 20:09] Croydon commented on #9
Does anybody else have such a problem? If yes, can it be solved for you with `browser.tabs.drawInTitlebar` set to `false`?

[2016-03-17 20:15] xxdavid commented on #9
I haven't had this issue since yesterday. That setting fixes it. Thank you for your support. :smiley:

[2016-03-17 20:26] xxdavid opened #18 "Dark Theme: Favicon on white background"
Favicons now have a white background on OS X. Is it intentionally? I think they were transparent but maybe I'm wrong.
![Screenshot](https://cloud.githubusercontent.com/assets/3393339/13860011/984bea04-ec86-11e5-98b3-29ff48190844.png)

[2016-03-17 21:39] Croydon commented on #18
This only happens with the dark theme. But I will definitely look into it :)

[2016-03-17 21:42] Croydon commented on #18
Addition: You can change the theme in the add-on settings and it is not intentional, at least not from me, no idea what the original author intended.

[2016-03-17 23:27] giraffe17 commented on #17
Double click on empty space of the side bar. Before the latest update it was similar to ctrl+t (new tab), now it does nothing.

[2016-03-18 03:45] tbs opened #19 "Compatibility to Tab Mix Plus"
Any chance to you make it compatible to Tab Mix Plus extension?

Result if both addon are active:

![Tab Mix Plus](https://cloud.githubusercontent.com/assets/768954/13868034/cf624a5c-eca3-11e5-84c1-fb2ae23d745c.png)

[2016-03-18 03:46] tbs opened #20 "Support for "minified" app/pinned tabs"
Is it possible? Similar to what Tree Style Tabs does.

Thanks

[2016-03-18 03:50] tbs opened #21 "Option to hide resize border"
Would be good

[2016-03-19 13:35] Croydon commented on #17
I will look into it. Thanks for reporting :)

[2016-03-21 13:59] johansigfrids opened #22 "Hamburger button and X overlap"
I just upgraded to Firefox 45 on Windows and now the hamburger menu button and the X for closing the window overlap.

![hamburger-x-overlap](https://cloud.githubusercontent.com/assets/3668905/13920882/d61da56c-ef7d-11e5-9f00-b77ffdeaa0f7.PNG)

[2016-03-23 18:58] yafp commented on #21
which border are you talking about?

[2016-03-24 16:05] tbs commented on #21
The border where you can drag and resize "tabs bar".

[2016-03-25 02:39] heistak commented on #22
Similar issue on the Mac, the top-left close/minimize/maximize buttons overlap with the toolbar.
![2016-03-25 11 38 06](https://cloud.githubusercontent.com/assets/658927/14036610/15c1f698-f27e-11e5-8baf-edbff3583efc.png)

[2016-03-25 14:03] Croydon commented on #22
This is a duplicate of #9.

@johansigfrids @heistak Please try to do what I wrote here: https://github.com/Croydon/vertical-tabs-reloaded/issues/9#issuecomment-190267470

[2016-03-25 14:03] #22 closed

[2016-03-26 06:39] hfrictionless opened #23 "Scrolling vertical tabs"
Scrolling in vertical tabs sidebar changes the viewed tab. Is it possible to just scroll the content of the sidebar?

[2016-03-26 15:09] Mr-Personality opened #24 "Tab rollover highlighting/Divider lines/Custom Themes/Classic Theme Restorer"
First of all, what on earth is this place? "Git hub"? What… a forum full of gits? "Hello world"? "Repository"? "Pull requests"? It's all very strange. But anyway, here's a bit of feedback about Vertical Tabs Reloaded…

Great add-on! This seems like the vertical tabs addon everyone has wanted for years but didn't exist. Until lately I had been using Tab Kit 2nd Edition, but it broke in Firefox v45.

[2016-03-26 15:42] Croydon commented on #23
I can't reproduce this error. Anybody else with this problem?

@hfrictionless Could you please try to disable temporary all other add-ons and restart afterwards Firefox once to see if the error is persistent?

[2016-03-26 22:18] Croydon commented on #18
@xxdavid Will be fixed in v0.4.1.

[2016-03-27 00:24] Croydon commented on #24
@Mr-Personality Thank you for your feedback and welcome on GitHub!

GitHub is a place to develop together easily (open source) software. Issues are there to discuss, organise and plan what there is to do. Pull requests are changes somebody made to the code and would like to see them in the original project. If you would like to know more about GitHub itself I am pretty sure you will find enough re

[2016-03-27 01:00] Keith94 opened #25 "Always show tab favicon in vertical tab bar"
It can be enabled using this css:

[code]
Comparison:

![ezgif-1247776065](https://cloud.githubusercontent.com/assets/5490615/14063213/a7969134-f37b-11e5-9d43-6754fe6ab045.gif)

[2016-03-27 01:20] Croydon commented on #25
@Keith94 Thank you! This makes the tab sidebar a lot more consistent. Will be shipped with the next update.

[2016-03-27 01:24] Croydon commented on #20
@tbs Do you mean a feature that allows grouping tabs together?

[2016-03-27 02:16] Keith94 commented on #20
He's asking to make pinned tabs be displayed along the top like so:

![snag 2016 03 26 18 48 03](https://cloud.githubusercontent.com/assets/5490615/14063428/5fa61ed0-f385-11e5-9264-e235d1dca5da.png)

[2016-03-27 03:17] Keith94 opened #26 "[Dark theme] Use white images for close and sound buttons"
Example CSS:
[code]

Comparison:
![darktheme](https://cloud.githubusercontent.com/assets/5490615/14063580/f3f181fe-f38c-11e5-9b03-c1312d380501.gif)

[2016-03-27 08:20] Keith94 opened #27 "Context menu items are removed"
In the toolbar context menu, the "Move to Menu" and "Remove from Toolbar" items are not available:

![snag 2016 03 27 01 02 02](https://cloud.githubusercontent.com/assets/5490615/14064454/957d232c-f3b8-11e5-9e9c-54bc301c271f.png)

Expected behavior:

![snag 2016 03 27 01 01 19](https://cloud.githubusercontent.com/assets/5490615/14064458/9bfe2c14-f3b8-11e5-97a4-1c594fe4a50c.png)

[2016-03-27 08:36] Keith94 commented on #9
Maybe the add-on should automatically set that `browser.tabs.drawInTitlebar` preference to false when it's first installed? Since having the window controls overlapping is not very desirable.

[2016-03-27 09:03] Keith94 opened #28 "Tab drop indicator is not positioned accurately"
The little arrow (dropmarker) is currently buggy when dragging links onto the tab bar. It should appear in between the tabs you are dragging to.

![snag 2016 03 27 01 47 55](https://cloud.githubusercontent.com/assets/5490615/14064617/469c034e-f3be-11e5-89cb-d65904cae7b6.png)

[2016-03-27 12:08] Mr-Personality commented on #24
That's great! Thank you Croydon. Good work! :)

[2016-03-27 12:08] Mr-Personality commented on #24
That's great! Thank you Croydon. Good work! :) Am I supposed to "close issue" now you have answered my questions?

[2016-03-27 13:42] Croydon commented on #24
@Mr-Personality You should only close issues on your own when either it turned out to be invalid (e.g. you report a bug which isn't one) or if it is a duplicate of an already existing issue. When this doesn't match or in doubt it is better to leave the decision to the project maintainer(s). I will close this issue if everything you suggested is either implemented or if I decided against it.

[2016-03-27 14:32] Mr-Personality commented on #24
Great, thanks :)

[2016-03-27 14:39] Croydon commented on #9
@Keith94 That is exactly my plan for the next version. The original add-on was setting this preference to false on every single startup which was quite annoying and undesirable, since it is not always required.

I might also add in further version an option in the settings to easily toggle this preference.

[2016-03-27 15:18] Croydon commented on #26
There is a problem with the close icons. It looks like this:
![](https://cloud.githubusercontent.com/assets/1593194/14066030/e378176c-f43f-11e5-93a3-b342cb99472a.PNG)

Code:
https://github.com/Croydon/vertical-tabs-reloaded/blob/themes_white_icons/data/skin/dark/tab.css#L1

[2016-03-27 15:43] Croydon commented on #28
Do you use the latest stable version or the latest dev version of the branch "fixstuff"?
I can't reproduce this in the dev version.

[2016-03-27 18:28] Keith94 commented on #26
Hmm, it's working as intended on my system (Windows 8, Firefox 48). Could yours be a high DPI issue? Does this css fix it?

[code]

[2016-03-27 18:54] Keith94 commented on #28
I am using the latest version from "fixstuff" (via replacing files in the XPI with the updated ones)... but the drop indicator is always appearing at the very top of the tab bar, either at the left or right corners like my screenshot. Only the "Windows" theme shows a horizontal arrow while the Light+Dark+Linux use the default vertical one.

[2016-03-29 01:08] mbaz opened #29 "Gap between tabs"
I'm getting some blank, inactive space between tabs. Screenshot here: http://imgur.com/uLWzjRG

To reproduce, just close some tabs in the middle of the list. The tabs below do not "slide up" and a gap is created where the blank tab used to be.

Running 0.4.0 on Firefox 45, Arch Linux.

[2016-03-29 01:10] mbaz opened #30 "Hotkey to hide bar only works in the latest opened window"
When typing the hotkeys to hide the tabbar, nothing happens. I tried changing the keys to control-shift-b with the same result.

Running 0.4.0 on Firefox 45, Arch Linux.

[2016-03-29 01:29] Croydon commented on #29
Please use the search before reporting issues.

Duplicate of #14.

[2016-03-29 01:29] #29 closed

[2016-03-29 13:38] Marty opened #31 ""dead space" when closing tabs"
This just started happening, so I assume it has to do with the latest update:

**Problem:**
The space of the first three tabs that I close is not freed up.
This leaves me with an annoying gap between my tabs.

![vertical-tabs-bug](https://cloud.githubusercontent.com/assets/100658/14109747/d8f8970a-f5c3-11e5-9cfb-2379b9ebcca9.jpg)

**How to reproduce:**
Open a new window, open 4+ tabs, close the 3

[2016-03-29 14:03] Croydon commented on #31
Please use the search before reporting issues.

Duplicate of #14.

[2016-03-29 14:03] #31 closed

[2016-03-29 14:08] Croydon commented on #30
I can't reproduce this. Anybody else who have this problem?

@mbaz Could you please try to temporary disable all other add-ons, then restarting Firefox and try it again?

[2016-03-29 14:20] Croydon commented on #30
It seems to only work in the latest opened window. Is this the source of your problem?

[2016-03-29 20:30] Croydon commented on #26
@Keith94 This seems to do it. Thank you for keeping contributing! :+1:
I have added you to the credits file. :smile:

Since you seem to be good with CSS would you mind having a look at issue #16?

[2016-03-29 20:57] Croydon commented on #27
Will be fixed with the next update. Thanks for reporting.

[2016-03-29 22:50] mbaz commented on #29
Sorry -- I did search, but somehow missed it.

[2016-03-29 23:24] mbaz commented on #30
I just tried with a new profile. Indeed, it seems to work only on the latest opened window. I may have missed that in my regular setup, where I have six windows open.

[2016-03-30 03:25] Keith94 commented on #26
@Croydon Thanks! And I'll take a look at it.

[2016-03-30 05:13] Keith94 commented on #16
Hi. So the issue seems to be caused by this CSS rule here:

https://github.com/Croydon/vertical-tabs-reloaded/blob/fixstuff/data/theme/base.css#L10

When commented, the white bar is no longer created when hovering over links.

Also the rest of the code related to the `statuspanel` may be obsolete as well, such as the ones found in `data/template/basic/index.css`

[2016-03-30 06:24] yafp commented on #17
@giraffe17:
Opening a new empty tab by double-clicking the empty space below the last tab in my tabbar still works for me with 0.4.0 (on linux using FF 45)

[2016-03-30 06:34] yafp opened #32 "Mark pinned tabs as pinned"
Right now (using 0.4.0 and the light theme) i can't really see if a tab is pinned or not.

I guess it might be useful to use some kind of non-disturbing small element / ui-change to have a clear difference between normal tabs & pinned tabs.

Ideas:
a) display a pin-icon instead of the the close icon on pinned tabs
b) use a small left border similar to the active-tab but with a light color which is

[2016-03-30 06:37] yafp commented on #30
i can reproduce this bug.

How i was able to reproduce:
- Open FF window 1 -> shortcut works in window 1
- Open FF window 2 -> shortcut works in window 2
- Switch focus to FF window 1 -> shortcut doesnt work in window 1 but instead in the non-active window 2

[2016-03-30 06:39] yafp commented on #21
What would be the advantage of that?

In most cases you see a border anyways, due to different colors of tabbar and current tab-content-background

[2016-03-30 06:46] yafp opened #33 "clean up skin folder structure"
Right now the structure of the skin folder is somehow unclear, at least to me.

**win7** and **dark** consist of several css files while **light**, **linux** and **osx** only has 1 css file which contains everything.

I guess it could make sense to give this a clean & more comparable structure. If you are fine with the basic idea i could give it a try and work on that on a small fork and offer a p

[2016-03-30 07:05] yafp commented on #20
To be honest ... displaying pinned tabs per default in such a different way feels wrong to my eyes. I guess if you implement it, it would be better to make it optional/configurable via **Settings**.

[2016-03-30 14:42] Croydon commented on #33
I highly appreciate your willingness to contribute, but in this case I was bit faster :smile:.

I have splitted the css of the Windows and Dark themes in serveral files because I have experimented with an idea, which I have continued to work on just yesterday. Have a look in the branch fixstuff, and, for instance, this commit: ce74eb6342868c2ba30b11ac7e372d2d6085e3ed

I also have renamed win7 to w

[2016-03-30 15:54] yafp commented on #33
even better .... thanks for the quick response.
should i close the issue right away?

[2016-03-30 16:00] Croydon commented on #33
I will close it when I merge it to master.

[2016-03-30 16:48] Croydon commented on #16
@Keith94 You are right, just removing all styling rules related to the `statuspanel` seem to do the trick and it doesn't seem to break anything. If I should miss something then users will start complaining anyway I guess :laughing:.

It is funny how many bugs can be resolved in this add-on by removing code. Ancient code base... :flushed:

[2016-03-30 22:31] Croydon commented on #2
This seems to happening randomly with all themes.
Pinned tabs are getting out of the scrollable area.

[2016-03-31 02:46] #16 closed

[2016-03-31 02:46] #18 closed

[2016-03-31 02:46] #25 closed

[2016-03-31 02:46] #26 closed

[2016-03-31 02:46] #27 closed

[2016-03-31 03:08] #33 closed

[2016-03-31 03:53] Croydon commented on #32
Small progress on this issue with v0.5.0: Dark&Light themes are having now a blue left border for pinned tabs.

[2016-03-31 06:23] yafp commented on #32
Just installed 0.5.0 - the blue left border is helpful ...Thanks.

[2016-03-31 17:20] Croydon commented on #9
The v0.5.0 update will set `browser.tabs.drawInTitlebar` one time to false. In the future it will happen if you install the add-on.

I might also add in a further version an option in the settings to easily toggle this preference.

[2016-03-31 17:22] Croydon commented on #14
It might be a coincidence, but I don't expierence this bug anymore with v0.5.0.

@yafp You are already using v0.5.0, do you still have this bug?

[2016-03-31 18:04] yafp commented on #14
Yes i am using 0.5.0 already on my working machine, but only for about 1 day. Please give me another day until i give my impression ;)

so far it looks good (had no gaps today), but somehow i am unsure as i wasn't working that much in my browser/firefox today.

[2016-04-01 00:54] Croydon commented on #14
@FinnDorian @xxdavid Version v0.5.0 is now out, after the add-on updated itself in your setups and at least one restart of Firefox (I still do not trust the XBL binding updates), could you please report back if this bug still occurs?

[2016-04-01 10:40] alexander255 opened #35 "Close button shown trice with dark theme"
I tried to switch to the dark theme, but I think you're missing some image clipping with this theme:

![Screenshot](https://cloud.githubusercontent.com/assets/246386/14204734/85585bc2-f806-11e5-9ef9-8d259621fdae.png)

Vertical Tabs Reloaded 0.5.0
Firefox 46.0b2, Linux 4.4, x86_64

[2016-04-01 12:16] yafp commented on #35
I can reproduce that with VTR 0.5.0 using the dark theme (FF 45 on Linux).

[2016-04-01 12:19] yafp commented on #14
@Croydon
hurray .... seems like i can't any longer reproduce the gap-bug with 0.5.0.

[2016-04-01 14:13] Croydon commented on #14
I will wait till more people have reported that it is gone, but looks pretty promising right now. :tada:

[2016-04-01 20:11] xxdavid commented on #14
I can't reproduce it neither. :+1: Thank you! :smile:

[2016-04-01 23:37] Croydon commented on #35
I can confirm this as well on my Fedora machine, but not on my Windows setup.
Seems to be Linux only.

This is a follow up problem of #26. I'm wondering if @Keith94 would be willing to look into that once again? :smile:

[2016-04-02 02:33] Keith94 commented on #35
@Croydon Well I don't have a Linux environment to reproduce this in, so I'm not entirely sure how to fix it. I played around with `-moz-image-region` to get a specific image for the different attributes. Maybe it will work for the 100% DPI setting...

[code]

[2016-04-02 03:49] Keith94 commented on #35
This file from the source code contains additional rules for the Windows theme's close buttons: https://github.com/mozilla/gecko-dev/blob/master/toolkit/themes/windows/global/global.css#L326-L396

The default Linux theme is apparently using `background-image` rather than `list-style-image` for its close buttons, for what it's worth.
https://github.com/mozilla/gecko-dev/blob/master/toolkit/themes/l

[2016-04-02 10:59] alexander255 commented on #35
I can confirm that the style rules posted by @Keith94 fix the problem when added to the browser using stylish. :smile:

[2016-04-03 11:17] yafp opened #36 "Compatibility with Fast Dial add-on"
Since 0.5.0 i had a strange issue on 1 (fedora 23, 65 bit) of my machines.
From times to times it seems like the addon is not working after starting my browser.

In this case the last session is gone as well and the tabs are on top.
The addon preferences are displayed incomplete as well.
Its really a strange bug i cant manually reproduce, but it happens several times now.

Screenshots
![20160403_0

[2016-04-03 11:34] Croydon commented on #36
Have you looked into the Browserconsole (not Webconsole!) to look for some possible error message when this is happening?

[2016-04-03 11:36] yafp commented on #36
you mean CTRL+SHIFT+J?

Not yet, but gonna do so the next time this happens

[2016-04-03 11:38] Croydon commented on #36
That is exactly what I mean :)

[2016-04-03 14:31] tbs commented on #21
Its a little annoying to see this "huge" border there, also to avoid resizing my mistake, like if you try drag scrollbars.

[2016-04-04 15:11] yafp commented on #36
Seems like it might be a side-effect with another plugin vallied "Fast Dial". Still investigating.....

[2016-04-08 22:58] Croydon opened #37 "Status bar not readable"
The status bar is not readable on (at least) KDE Breeze together with all themes of this add-ons except the Darwin theme.

Original reported by @SimonSapin for another (inactive) fork of this add-on. See https://github.com/jdashg/VerticalTabs/issues/8

@SimonSapin Btw, this fork has the option to choose no theme at all :)

[2016-04-09 23:44] Croydon commented on #19
I'm looking into it. Basically there is only one initialization problem of Tab Mix Plus in the inital window. If you open a new one, it will (more or less) work there.

With the commit 7be993b61838b47de1ab3117932e5087b888c432 I have fixed the basic style, so that it is actually useable. This will be part of the next update.

So if the initialization problem is fixed both add-ons should work togeth

[2016-04-10 19:31] woj-tek commented on #23
For me scrolling on the tab-bar (on the right) causes change in the active tab... but for this is expected behaviour - majority (all?) applications changes the tab while scrolling over the tab-bar (be that vertical/horizontal)

[2016-04-10 19:33] woj-tek commented on #17
+1 for me - I've just went back to VTR (0.5.0) from tree-style-tab and it doesn't work, an while it was working previously (around version 0.3.x or 0.4.0) it's not working now. Would be awesome if this could be fixed :-)

[2016-04-10 20:22] woj-tek commented on #9
I would say that setting it by default would be better (was just struggling with it for a bit). Or make it explained very well in the settings.

[2016-04-10 20:48] yafp commented on #17
@woj-tek
could be interesting i you have this issue with all themes or some just a specific one. For me with 0.5 it seems like i can reproduce that if i choose "None/Firefox default" in the addons pref while i can not reproduce it with the light theme for example.

[2016-04-10 21:18] Croydon commented on #9
@woj-tek It is getting set by default on new installations and when updating to v0.5.0. So it is the default :)

[2016-04-10 21:18] Croydon commented on #9
I have decided to leave this issue open since I am still not happy with this workaround.

[2016-04-10 21:25] woj-tek commented on #9
Hmm, then something did not work as I installed the 0.5.0 fresh and the setting wasn't set, hence my above comment :-)

[2016-04-10 21:27] Croydon commented on #14
Well...
I never knew what is causing this bug.
Then I refactored a lot of creepy code.
Now it seems to be gone, again no idea why.
This will keep annoying me everytime I think about it, since I couldn't satisfy my curiosity.

But at least it is gone. 🎉

[2016-04-10 21:27] #14 closed

[2016-04-10 21:34] woj-tek commented on #17
@yafp OK, because recently Mozilla pushed towards this new "themes" that were basically a picture splashed on the toolbar I've quit using those because of compatibility problems...

I've tried https://addons.mozilla.org/en-US/firefox/addon/ft-deepdark/ (btw. looks great :-) ) and... doubleclick on the empty area worked!

It's a bit weird that this issue is theme-specific...

I've opened similar is

[2016-04-10 21:35] yafp commented on #17
glad my feeling was right.

[2016-04-11 09:14] dances-with-clouds opened #38 "Still horizontab tabs at top when starting FF"
Hello!

When FF 45 starts, for a second there's the normal horizontal tab bar at the top, but no vertical tab bar. After a second or so, the tab bar at the top disappears and the vertical tab bar is being created.

[2016-04-11 09:59] woj-tek commented on #9
OK, so I've just installed the extension on another machine (this time osx) and had the same problem - had to manually change the `browser.tabs.drawInTitlebar`...

[2016-04-11 13:03] Croydon commented on #38
This is a performance problem and I am, unfortunately, not sure how much I can do about that. I will look out for possible troublemakers, but I can't promise anything.

[2016-04-11 20:30] Croydon commented on #9
@woj-tek What other add-ons do you have installed in these setups?

[2016-04-11 20:39] woj-tek commented on #9
Here's the list... I think I need to clean up this list a bit...

Name | Version | Enabled
---- | ------- | -------
asciidoctorjslivepreview | 0.5.1 | true
Customizable Shortcuts | 0.9.8 | true
Do This Automatically | 0.81.1-signed | true
Download Panel Tweaks | 1.3.2 | true
Download YouTube Videos as MP4 | 1.8.7 | true
FindBar Tweak | 2.1.9 | true
FireGestures | 1.10.7 | true
FlashGot | 1.5.6.13

[2016-04-12 11:22] dances-with-clouds commented on #38
Thanks for the reply! I hope you will find the troublemaker.

[2016-04-13 11:41] yafp commented on #32
To be honest - the current blue border is perfect for me - i don't see a need for more

[2016-04-15 14:06] woj-tek commented on #38
The more tabs we have in session the more the problem is prominent, unfortunately.
If I remember correctly this wasn't the case in older versions (tho, they have their own issues with rendering)

[2016-04-15 15:27] Croydon commented on #36
@yafp Could you find the source of the problem?

[2016-04-15 15:38] Croydon commented on #9
@woj-tek I just retried this with a new profile. No problem there. So my assumption is that one of your other add-ons is resetting the preference. Please forgive me that I don't have the time to test it with all of the add-ons you just mentioned. Maybe you should really try to reduce them :)

[2016-04-15 15:41] woj-tek commented on #9
It's not they are "resetting" the setting (because after the change property sticks) but rather prevent VTR to change it...

anyhow, I'lve cleaned the list a bit, but I think I need to reset Fx profile either way after all this time :-)

[2016-04-15 21:25] yafp commented on #36
not 100% sure - i had the impression the issue come after upgrading to 0.5.0 and might be related with the Fast Dial addon.

I removed Fast dial from my addon list and the issue is gone since then

[2016-04-16 15:52] #37 closed

[2016-04-16 15:52] Croydon commented on #37
@SimonSapin Will be fixed with the next update :)

[2016-04-16 15:54] Croydon commented on #36
I accidently closed this by writing the wrong issue number in a commit.

[2016-04-16 16:01] Croydon commented on #14
@mbaz & @Marty Just wondering, is it fixed for your two as well?

[2016-04-16 16:10] Marty commented on #14
@Croydon yep it's gone, thank you :)

[2016-04-16 17:16] #35 closed

[2016-04-16 17:17] Croydon commented on #35
Fixed with the next update. Thank you all :)

[2016-04-16 17:34] Croydon commented on #32
I leave the issue open till I have a visual highlighting for all themes. Right now it is just for the Dark&Light theme. Also there is an issue that sometimes the close button is displayed on pinned tabs.

[2016-04-17 14:03] #30 closed

[2016-04-17 14:03] Croydon commented on #30
@mbaz Will be fixed with the next update :)

[2016-04-17 14:59] Croydon commented on #24
@Mr-Personality I the meantime I have added the possibility to select no theme at all, it still injects a few style rules to make the tab sidebar usable, but it concentrates on the absolutely necessary stuff.
Therefore the no theme option could be the best choice to make sure that it works together with other add-ons, which are manipulate the tabs.

I'm not ruling it out, that I might add in the f

[2016-04-30 18:51] #9 closed

[2016-04-30 18:54] Croydon commented on #9
**If somebody is still experience this problem, then please either set `browser.tabs.drawInTitlebar` manually to `true` in `about:config` or starting with v0.6.0 use the toggle button in the Vertial Tabs Reloaded preferences in the Firefox add-on mananger. Thank you.**

[2016-04-30 21:06] #11 closed

[2016-05-07 17:26] Croydon commented on #36
@yafp What is the advantage of Fast Dial in comparison to the default Firefox tiles anway?

[2016-05-07 23:15] yafp commented on #36
@Croydon
The amount of tiles (i.e. 10 x 8) is configurable and they are fully user-configured (not based on some kind of automatism

[2016-05-08 19:15] Croydon commented on #19
TMP and VTR will be compatible soon. :tada:

More information:
http://tabmixplus.org/forum/viewtopic.php?f=4&t=19551

[2016-05-08 19:18] Croydon commented on #20
@yafp I agree fully. I might implement it at same point but it will stay optional.

I haven't decided yet, since this feature is not a priority for me.

[2016-05-08 19:44] Croydon commented on #32
All themes have with v0.6.1+ a blue left border for pinned tabs.

[2016-05-11 20:56] detuur commented on #17
Having the same problem in Firefox Developer Edition. Using the included dark theme.

[2016-05-13 14:39] widget- commented on #21
It lets Personas (or whatever they're called) bleed through the gap. I'd actually be ok with it if it had a background of its own.

![screen shot 2016-05-13 at 9 35 58 am](https://cloud.githubusercontent.com/assets/7691630/15251346/8ad2bd5a-18ee-11e6-918c-26d2331bf1da.png)

[2016-05-15 15:34] Croydon commented on #19
https://bitbucket.org/onemen/tabmixplus/commits/3d956f095d29
https://bitbucket.org/onemen/tabmixplus/commits/04125996caa2a4fcee4493871cb224e824ed59fe

[2016-05-16 08:00] woj-tek commented on #9
OK, not exactly problem with overlaping controlls, but when using Dark Developer theme (vide https://addons.mozilla.org/en-US/firefox/addon/devedition-theme-enabler/) and enabling the titlebar it remains white (system colour).
With vertical tabs disabled and drawInTitlebar=false it is simply drew as dark (themed)

[2016-05-19 01:40] Croydon opened #40 "Custom themes"
Users should be able to customize the appearance of the tab sidebar.

In order to prevent people from breaking stuff and blaming either VTR or even Firefox for it, custom themes will build up on the VTR internal templates (e.g. https://github.com/Croydon/vertical-tabs-reloaded/blob/master/data/template/basic/template_examle.css).

Users will be able to modify all variables provided by a template v

[2016-05-19 01:41] Croydon commented on #24
Custom themes have now an own issue: #40.

[2016-05-19 01:41] #24 closed

[2016-05-19 13:03] Mr-Personality commented on #40
Look forward to this feature being added, thanks.

[2016-05-20 19:31] danwep opened #41 "Not working when starting in Private Browsing mode."
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Linux, Debian testing[codename stretch]

Vertical Tabs Reloaded[VTR], does not work when starting Firefox in private
browsing mode.

After starting Firefox in private browsing mode and opening new windows
of any type and VTR, does work correctly on these new windows. The only
add-on installed was VTR, in a new profile to avoid any conf

[2016-05-20 19:57] danwep opened #42 "New tabs do not open correctly, when the tabbar is hidden."
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Linux, Debian testing[codename stretch]

When using the hotkey for hiding/showing the tabbar and the tabbar is
hidden. New tabs do not open correctly. The tab name is not displayed on
the tab and can not close the tabs. Also even after showing the tabbar again,
new tabs still do not open correctly. The only way to fix these issues is t

[2016-05-20 20:17] danwep opened #43 "Tab drag&drop fails past the current visible tabs"
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Linux, Debian testing[codename stretch]

Can not move tabs past the current visible tabs. Either by going up the
tabs or down. Also when disabling VTR, and trying to move tabs; they
will only move to tab position number 1, when moving from right to
left[backwards] and tab position number 9, when moving from left to
right[forwards]. The

[2016-05-20 20:45] Croydon commented on #43
Tab moving after disabling VTR fails due to #8.

The general tab moving problem hasn't been reported till now, thank you.

[2016-05-20 22:34] danwep opened #44 "Auto hiding tabs in fullscreen does not work."
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Linux, Debian testing[codename stretch]

The 'Hide tabs in fullscreen' option does not work. When placing Firefox
and/or a video in fullscreen, VTR does not hide. The only add-on
installed was VTR, in a new profile to avoid any conflicts with other
add-ons and/or user settings.

Thank You

[2016-05-20 23:06] Croydon commented on #44
@danwep What desktop environment do you use?

[2016-05-20 23:27] danwep commented on #44
xmonad[0]

[0] http://xmonad.org/

[2016-05-22 10:47] onemen opened #45 "Proposed fix for incompatibility with Tab mix"
Drag and drop of tabs is not always working when Tab mix installed

Both extensions need to extend tabbrowser-tabs, when Tab mix installed, VTR binding doesn't work
Tab mix already have chrome://tabmixplus/content/tab/tabbrowser_proxy.xml that you can override to implement your binding.

This is the patch you need to apply on Vertical tabs:
add 1 line to chrome.manifest, and a new file lib/tabbrow

[2016-05-22 13:46] Croydon commented on #19
https://bitbucket.org/onemen/tabmixplus/commits/86dd60e05632ea711b0535f983ef1546e8c1e49c

[2016-05-22 13:50] Croydon commented on #45
I have already included the patch: 00cb8bbff1b90bbec45b049645a967a7e7a52513

It seems to work fine now. Once again, thank you! :+1:

Issue for possible further incompatibilities: #19

[2016-05-22 13:50] #45 closed

[2016-05-27 20:41] Croydon opened #46 "Option to display tab toolbar at top"
Title says it all.

[2016-05-29 01:44] fbruetting opened #47 "Scrolling switches tabs instead of scrolling the tab list"
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Fedora 23

While mouse wheel scrolling works fine, scrolling by trackpad switches tabs, instead of scrolling the tab list. The tab list gets scrolled, too, but in some weird way. Please deactivate this behaviour!

[2016-05-29 01:47] fb87 commented on #43
While dragging a tab, scrolling with the mouse wheel isn't possible. By resolving this issue, please don't affect trackpad behaviour.

[2016-05-29 16:00] fbruetting opened #48 "Current tab is highlighted when pressing laptop fn keys"
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Fedora 23

When pressing brighter/darker/quieter/louder/mute etc. the current tab entry gets highlighted.

[2016-05-30 20:07] danwep opened #49 "Compatibility with Multiple Tab Handler add-on"
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Linux, Debian testing[codename stretch]

Multiple Tab Handler[MTH][0] add-on does not work when Vertical Tabs
Reloaded[VTR] is enabled. The only installed add-ons where VTR and
MTH, in a new profile to avoid any conflicts with other add-ons and/or
user settings.

Thank You

[0] https://addons.mozilla.org/en-US/firefox/addon/multiple-ta

[2016-05-30 21:53] danwep commented on #46
This would be a nice option, looking forward to it.

Thank You

[2016-06-02 12:10] autra commented on #2
FWIW, I'm reproducing it pretty consistently. Firefox stable on Ubuntu 16.04. My pinned tab disappears when I scroll the tablist.

*Expected*

Pinned tabs area stays on top when scrolling the list of tabs.

*actual*

Pinned tabs are in the tab scrollable areas, meaning that when I scroll down, they disappear.

[2016-06-03 18:37] helppe opened #50 "nothing happens at all..."
Add-on version: 0.6.2
Firefox version: 46.0.1
OS + OS-Version: windows 7 pro (64 bits)

hello
when i activate this extension nothing at all happens.
so to be sure it is not a compatibility problem with an other extension i disabled all other extensions, and closed and re-opened firefox, but the tabs are still horizontally.

why?
am i the only person with this issue? and how can i fix it?

thanks

[2016-06-03 20:32] Croydon commented on #50
@helppe Is there a chance that you start Firefox in private mode? This is a know issue: #41.

If not then I will need more debug information. For example please open the Browser Konsole with Ctrl + Shift + J and copy and paste possible errors, when in doubt please provide all logs, but make sure before that it doesn't contain any kind of private information.

[2016-06-03 22:58] helppe commented on #50
OMG! you are right, it works when i disable the private mode :O !! thank you

[2016-06-03 23:02] Croydon commented on #50
@helppe If you want to use the private mode (at start up) then it works if you open a new private window. It just doesn't work in the inital private window at the momemt.

Duplicate of #41.

[2016-06-03 23:02] #50 closed

[2016-06-06 17:17] Croydon commented on #19
@tbs
VTR v0.6.2 or newer is supposed to work fine with Tab Mix Plus v0.5.0 or newer. Please report any further bugs and unexpected behaviour. Thanks.

[2016-06-06 17:17] #19 closed

[2016-06-06 17:46] Croydon commented on #49
@danwep Please get more specific what exactly is not working.

[2016-06-06 17:50] Croydon commented on #36
@yafp Since Fast Dial add-on has a huge amount of users I am willing to investigate further, but I definitely need more information what exactly is not working when both add-ons are installed.

[2016-06-06 23:04] gamingexpert13 commented on #49
I'm not the original poster, but I have the same issue. Multiple Tab Handler is an addon to give you the ability to select multiple tabs at a time to perform actions like moving them as a group, closing them, saving the contents from them, opening them in a new window, etc.

There are two ways for selecting multiple tabs: hold ctrl and click multiple tabs, or click on the first tab, then hold shif

[2016-06-08 14:15] jonasflint opened #51 "other tabs disappear when arranging tabs (dark and light theme)"
This is kind of weird, but when arranging tabs the other tabs strait up "disappear" while dragging until the tab is placed.  Makes it hard to gage where you are placing the tab...

Add-on version:
Firefox version:
OS + OS-Version:

[2016-06-08 14:28] jonasflint opened #52 "Keep close tab button persistant across all themes (not just show on hover)"
I like to just use the favicon as tabs and keep the tab bar super narrow:
screenshot: http://d.pr/i/139TF

This works well, because to close a tab I can just simply middle click on that tab.  But on my 13 inch macbook where am using the trackpad it's not so easy.  I have to show the close button, which is fine,
only the close button only shows up on the selected tab or when you hover over a tab.

[2016-06-08 14:37] Croydon commented on #51
@jonasflint Can you please provide the information what VTR version, what Firefox version and what OS + OS version you are using? It is there as an issue template for a reason :)

According to the title I am assuming you can't reproduce this behaviour with the other themes?

[2016-06-08 14:51] #46 closed

[2016-06-08 14:52] Croydon commented on #46
The default position for the tab toolbar will be above the tabs starting with v0.7.0 + it's changeable in the settings.

[2016-06-08 19:17] fb87 opened #53 "New tab should scroll the tab overview"
Add-on version: 0.6.1
Firefox version: 46.0.1
OS + OS-Version: Fedora 23

When creating a new tab, the tab overview should scroll down for keeping the newly created tab in sight. But it shouldn't scroll if the current tab would get out of sight and instead flash the „+“ icon. This resembles the regular (vertical tab bar) behaviour.

[2016-06-09 16:19] jonasflint commented on #51
yes sorry about that.
Add-On Version: 0.6.2
Firefox Version: 46.0.1
Mac OSX  El Capitan 10.11.5

[2016-06-09 16:20] jonasflint commented on #52
Add-On Version: 0.6.2
Firefox Version: 46.0.1
Mac OSX El Capitan 10.11.5

[2016-06-13 00:25] mbaz commented on #51
This used to happen to me, but doesn't seem to anymore with version 0.6.2.

[2016-06-13 00:29] Croydon commented on #51
@jonasflint @mbaz Any chance that you two are using Tab Mix Plus?

[2016-06-13 00:32] mbaz opened #54 "Feature request: when closing a tab, always give focus to tab above it."
Add-on version: 0.6.2.
Firefox version: 47.0
OS + OS-Version: Arch Linux

I'd find it useful if there was an option to always focus on the tab "above" when closing a tab. By default (at least on my setup), sometimes the bottom tab is selected.

[2016-06-13 01:50] mbaz commented on #51
No, I'm not using it.

[2016-06-13 20:35] jonasflint commented on #51
I am using tab mix plus

[2016-06-14 20:43] #21 closed

[2016-06-14 20:54] Croydon commented on #21
@widget- @yafp @tbs
The splitter will be a lot more subtle starting with v0.7.0.
In the Dark theme the splitter will have the same color as the tabbrowser, in the Light theme it will have the same color as a tab on hover right now. Furthermore the splitter doesn't have a border anymore in these two themes.

The splitter in the Darwin theme will be unchanged, since it is already invisible there.
No

[2016-06-14 21:01] Croydon commented on #21
To make it clearer: No, there won't be an option to hide the splitter completely, but it will be more subtle. The Darwin theme already makes the splitter invisible and in the future users can use custom themes, see #40.

[2016-06-14 21:57] Croydon commented on #51
@jonasflint Do you use Tab Mix Plus v0.5.0 or newer? There will be problems if you use an older version.
If you should use v0.5.0 or newer: Do you have any other add-ons installed that have anything to do with Tabs or which modify the user interface of Firefox?

[2016-06-14 23:08] Croydon commented on #21
I just noticed that the splitter color for the Dark theme was not well chosen. I changed it to the background color of a selected tab, so that there is a visible divider if you open the add-on page. Done in 4cb4e2e3373e9dd9874aca1bf8a2cdcca269a6ec

[2016-06-15 09:04] yafp commented on #21
@Croydon i like the previews

[2016-06-15 15:54] Croydon commented on #41
This turned out to be a Firefox bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1248903
https://bugzilla.mozilla.org/show_bug.cgi?id=1196577

I will try to make some noise about this bug, but there isn't anything I can do beyond that.

[2016-06-15 22:34] Croydon commented on #32
The close button should be always hidden on pinned tabs starting with v0.7.0. 7ce08b2430f0f27a61c2e990079bdd2bc112e9e8

[2016-06-15 22:54] Croydon commented on #52
I can't reproduce this shift on Windows.
I'm also not sure yet what this has to do with themes. Does the shift only happen in some themes? If yes, in which ones?

[2016-06-15 23:05] danwep commented on #46
Thank You

[2016-06-15 23:07] danwep commented on #41
Ok, and Thank You for the links.

[2016-06-15 23:10] danwep commented on #49
Never got an email about your question @Croydon. Just like @gamingexpert13 explained. Basically MTH does not work at all.

[2016-06-15 23:19] danwep commented on #44
An update. It seems to be a general issue with all?, at least with the few add-ons that have tried. That add/have an option for tabs on the side. Any video placed in fullscreen and the tabs on the side still show through.

Firefox's own sidebar does hide when placing videos in fullscreen mode.

Thank You

[2016-06-16 14:23] jonasflint commented on #52
This is happening on the dark and light themes (which are the best ones in my opinion)  Here is a couple are a couple of quick  screenshots / screencasts to show you whats happening:

tab mix plus settings: http://d.pr/i/17gYL
Dark Theme: http://d.pr/v/euxz
Light theme: http://d.pr/v/15BGm

it does NOT happen when using no theme. (but the no theme has weird spacing issues, so I don't use it).

[2016-06-16 14:33] jonasflint commented on #51
No, not really. I'm using Tab Mix Plus v.0.5.0

[2016-06-21 20:37] retep998 commented on #2
I can reproduce this consistently on Windows. I open enough tabs so a scroll bar appears, I pin some tabs, and if I scroll down, I can only scroll up enough so that the first non-pinned tab appears. I cannot scroll up enough to have the pinned tabs visible again. The issue only applies when using the scroll wheel. If I click and drag the scroll bar it works fine.

[2016-07-01 02:49] Croydon commented on #13
Gradual transition to a WebExtenion will be possible and that is my current plan for VTR.

[2016-07-01 03:28] Croydon opened #55 "Compact mode"
It will be possible to opt-in a compact mode. In this mode the text labels on the tabs will be hidden.
The tab sidebar is only displaying the website icons + the close button on the active tab plus tabs over which you hover then.

[2016-07-01 04:15] #55 closed

[2016-07-01 04:19] Croydon commented on #52
@jonasflint The compact mode (see #55) might improve the situation for you.

I'm planing that custom themes (see #40) will be able to change the behaviour of the close button. I'm not planning any further changes regarding this issue so far since this scenario can only happen with thirdparty add-ons (Tab Mix Plus), but I'm staying open minded and listen to feedback. 😄

[2016-07-01 04:29] Croydon commented on #55
Screenshot:
![compact](https://cloud.githubusercontent.com/assets/1593194/16511836/12788c58-3f55-11e6-99cb-929a8cb9129a.PNG)

[2016-07-02 01:12] Croydon commented on #47
This seems to be a Firefox bug.

https://bugzilla.mozilla.org/show_bug.cgi?id=1192327
https://github.com/bwinton/VerticalTabs/issues/171
https://github.com/piroor/treestyletab/issues/395

[2016-07-02 01:39] Croydon commented on #32
Still missing: Pinned tabs should always be visible. That is the most important aspect of pinned tabs and it is getting lost currently.

[2016-07-02 01:43] Croydon commented on #23
This issue is very likely a duplicate of #47 and therefore a Firefox bug.
@hfrictionless do you use a trackpad?
@woj-tek Do you use also a trackpad when reproducing this?

[2016-07-02 01:51] Croydon commented on #20
It's planned, but not a priority.

[2016-07-02 08:51] woj-tek commented on #23
Not only - this happens both with trackpad and mouse scroll, and *for me* it's desired and I find it *very useful* :-)

[2016-07-04 16:52] jonasflint commented on #52
Sounds good. Yeah, I think custom themes will be the holy grail for this. And if you do that. I might contribute a few custom themes.

BTW,  compact mode is a excellent addition! Thanks!

[2016-07-08 21:44] loa11 opened #56 "Conflict Firefox 50.0a1 64bit in e10s vertical-tabs-reloaded and Multiple Tab Handler, e10s disabled most thing will work again"
Add-on version:070
Firefox version:50.0a1 64bit in e10s
OS + OS-Version:Windows 7 64bit SP1
Other tab + user interface related add-ons: Multiple Tab Handler use latest dev version.

In e10s mode most tabs functions from  Multiple Tab Handler will not work like shift+left click select multiple tabs, or Ctrl+left click close tab etc
https://github.com/piroor/multipletab/issues/122

When you switch o

[2016-07-08 22:06] Croydon commented on #56
Duplicate of #49.

[2016-07-08 22:06] #56 closed

[2016-07-08 22:25] loa11 commented on #56
Its working but conflicting when,  e10s is disabled everything is working like it should its not the same bug, please this is not the duplicate of #49.

[2016-07-08 22:57] loa11 commented on #56
Piro is writer of MTH he is also father of legendary TBE he is very cleaver guy, he could sort this conflict in a matter of minutes.

 Could you add this option to vertical-tabs-reloaded

Duplicate tab
Select similar tabs
Close tabs to the TOP
Close similar tabs
Close other similar tabs
Close all tabs

Also shift +mouse left click would select multiple tabs in order to move them or close them also

[2016-07-19 17:43] Luckz commented on #49
https://github.com/darrinhenein/VerticalTabs/blob/master/multiselect.jsm was the old multiple tab selection code, before some misguided folks ripped it out while annihilating 'groups' support.

[2016-07-19 17:44] Luckz commented on #23
There are extensions that add this behaviour (the mouse wheel scrolling tab selection), does it happen with this addon alone?

[2016-07-20 02:57] Croydon commented on #44
@danwep VTR and likely every other add-on you tried is using the sizemodechange event. So it **might** be a bug of Firefox in combination with your setup. (https://developer.mozilla.org/en-US/docs/Web/Events/sizemodechange)

Do you have any other DE where you can test it?

[2016-07-21 14:41] unknown-- commented on #2
Sad to see this issue has lived on throughout each fork. It's really the only reason I've never used the tab pin feature.

[2016-07-21 15:00] unknown-- commented on #49
Please add multiple tab selection back. I use it quite a bit and I can't say I've ever had any problems when using it.

[2016-08-03 20:09] krigstask opened #57 "Add option to hide toolbar"
I use VTR together with Vimperator, and I don't really that toolbar with "New tab" button.  It takes space and for some reason it's ugly bright grey on my box, despite dark themes everywhere.  It'd be nice to be able to hide it.

[2016-08-03 22:38] Croydon commented on #57
Could you please make a screenshot where I can see clearly how the toolbar looks with your setting?

The option will be implemented with the next update (might take some time).

[2016-08-04 06:14] krigstask commented on #57
Sure:
![tmp](https://cloud.githubusercontent.com/assets/419654/17392066/d24bf394-5a2b-11e6-8367-38de5d1b79e6.png)

Sure, no hurry.  I move it to the bottom for the time being, and that's almost fine.  Thank you!

[2016-08-06 12:25] m0n opened #58 "Wheel not scrolling to the top of tab-list"
Add-on version: 0.7.0
Firefox version: standard 47.1 or developer 50.0a2 (2016-08-06)
OS + OS-Version: Win7 x64
Other tab + user interface related add-ons: none

I having very much tabs and say that 10 pinned tabs. Wheel not scrolling to the top of tab-list if there are a pinned tab visible. I need to use scroll-bar to continue scrolling to the top of the list.

[2016-08-06 13:42] m0n opened #59 "Ideas, additions"
- [ ] make an option for pinned tabs be in a fixed area (like on Firefox's default tab-bar)
- [ ] a button to hide/show pinned tabs labels. If no labels then pinned icons must flow like normal text
- [ ] since CTRL+number switches tabs, an option would be nice to display the first 9 tabs index (useful to switch between most frequently used pinned tabs)
- [ ] add HOME, END buttons (possibly to the

[2016-08-06 17:59] m0n opened #60 "Toolbar doesn't appear in Firefox's customize page"
Add-on version: 0.7.0
Firefox version: standard 47.1 or developer 50.0a2 (2016-08-06)
OS + OS-Version: Win7 x64
Other tab + user interface related add-ons: none

Hmmm... Really, am I the only person who can't add items to the Toolbar? Plugin disabled I able to add items and when I enable plugin, these items appears right.

May I missed some serious info about this topic :( ?

[2016-08-06 20:04] Croydon commented on #60
This is an already know bug, but thanks for reporting anyway :)

[2016-08-06 20:05] Croydon commented on #58
Duplicate of #2.

[2016-08-06 20:05] #58 closed

[2016-08-06 20:12] Croydon commented on #59
1) See issue #2.
2) See issue #20.
3) Sorry, but this seems to be a too specific whish. I can't see a broader audience for that, but if more people want this I will think about it again.
4) See your own issue #60. I don't plan to add more buttons in the toolbar via default, but if it's customizable everyone can do what they want.
5) Please explain this further. What should happen for each key? Wha

[2016-08-07 05:01] DavidJCobb opened #61 "Attempting to switch to the first pinned tab sometimes closes it spontaneously"
When the first pinned tab in a window is open to Facebook, and when I try to switch from another tab back to that one, it will spontaneously close. This is not the bug where tabs are hidden; using CTRL+TAB and CTRL+SHIFT+TAB to cycle through tabs confirms that the Facebook tab is completely lost. I mention Facebook because that actually seems to be the only tab that this happens to, oddly enough.

[2016-08-07 05:12] DavidJCobb commented on #61
UPDATE: Undo Close Tab can recover the lost tab. Still irritating, though.

[2016-08-09 04:17] DavidJCobb commented on #61
Seems to happen more often if I try to switch back to the first tab after having just closed another tab.

[2016-08-31 02:35] kristjaneerik commented on #61
This is happening to me for a variety of google.com subdomains for several pinned tabs, not just the first one. It also happens with multiple mice and a touchpad.

Add-on version: 0.7.0
Firefox version: 48.0.1
OS: OS X El Capitan Version 10.11.6
Other add-ons: Tab Groups

[2016-09-01 05:48] Cepr0 opened #62 "Cannot find "New Tab" button in the Toolbar"
Hello!
I could not find the button "New Tab" in the Toolbar. How can I add it to the Toolbar?
Could you add it by default?

![01 09](https://cloud.githubusercontent.com/assets/10778600/18156663/9433dd50-7020-11e6-95a1-55d578e3c623.png)

Add-on version: 0.7.0
Firefox version: 48.0.2
OS + OS-Version: Win7 x32
Other tab + user interface related add-ons: https://addons.mozilla.org/en-US/firefox/addon/

[2016-09-01 06:45] Cepr0 opened #63 "Place tab title and the toolbar buttons on the Firefox titlebar"
After 'vertical-tabs-reloaded' installed it move all buttons from Firefox titlebar to the own toolbar.
So we have a lot of unused space above Firefox window. I think it will be pretty nice if you place a title of the current Tab and the toolbar buttons on the Firefox titlebar:

![01 09-](https://cloud.githubusercontent.com/assets/10778600/18157931/c97c19fc-7028-11e6-841c-b1db9feb43c9.png)

Add-on

[2016-09-01 16:55] Croydon commented on #62
With some update in the future it will be possible to customize the toolbar with the Firefox customization menu.

Right now, the toolbar contains all elements, which the toolbar contains anyway (read: the elements you have there without VTR installed). So if you miss there something, you cann disable VTR, customize it, and re-enable VTR.

The new tab button should be there via default already.

[2016-09-01 16:56] Croydon commented on #62
@Cepr0 Have you tried to expand the size of the tabbrowser/toolbar? Maybe it is getting hidden.

[2016-09-01 17:28] Cepr0 commented on #62
Hi! I've found 'new tab' button ))
It was controlled by TabMix Plus.
I switched 'new tab' button to position 'on the right' and re-enabled your addon.
And the button appeared:

![2016-09-01_20-24-32](https://cloud.githubusercontent.com/assets/10778600/18177271/277340f4-7082-11e6-9fc0-72b22a1bf3f3.png)

[2016-09-01 17:43] Croydon commented on #62
@Cepr0 I'm glad that you figured it out :)

Closed in favor of #60.

[2016-09-01 17:43] #62 closed

[2016-09-01 17:44] Cepr0 opened #64 "Window control buttons looks bad In Win10 then title bar is hidden"
![2016-09-01_20-30-17](https://cloud.githubusercontent.com/assets/10778600/18177693/0fabc3d6-7084-11e6-8aaf-a4e6363cd203.gif)

Add-on version: 0.7.0
Firefox version: 48.0.2
OS + OS-Version: Win10
Other tab + user interface related add-ons:  TabMix Plus

[2016-09-03 18:01] ElectricElf opened #65 "Small feature request/bug report"
Add-on version: Whatever's released on Mozilla Addons as of today
Firefox version: 45.3.0
OS + OS-Version: Debian GNU/Linux Sid
Other tab + user interface related add-ons: Vimperator mainly

First and foremost, thanks SO much for bringing this extension back :) Tree-Style Tabs are okay, but way more than I need and crazy slow.

I have a small feature request/bug report/behaviour suggestion; at lea

[2016-09-04 06:43] DavidJCobb commented on #61
The tab closure works exactly the same as a normal one.

If you try to close a Facebook tab while typing a status update, Firefox catches it and asks you if you're sure (because JavaScript on Facebook's site catches a close attempt). If you leave text in there, switch away from the tab, and come back,... this bug will trigger that same confirmation prompt. So the tab isn't just disappearing -- som

[2016-09-05 13:39] mbaz commented on #65
Duplicate of #53.

[2016-09-05 19:19] ElectricElf commented on #65
Oops, terribly sorry - it's been so long since I filed a bug that I didn't even think to check to see if the issue had already been reported :)

[2016-09-08 17:36] Croydon commented on #65
@ElectricElf Glad to see that you like the add-on :)

[2016-09-08 17:36] #65 closed

[2016-09-16 02:03] riot26 opened #66 "Feature request: compact tabs"
I made this with userstyles and it works not so good. Want to see same feature in your addon

default view:
![default](http://i.imgur.com/xLnhAYH.png)

on hover:
![on hover](http://i.imgur.com/zo258Wq.png)

[userstyle on gist](https://gist.github.com/riot26/e8809a9b4a2b84e586f889269f98e2d5)

i have latest addon (0.7.0) in latest firefox (48.0.2) in latest majaro linux (arch-based, xfce) (16.08)

[2016-09-29 08:54] myBestSoftAndPref opened #67 "Show tab status"
Hello,
I am offering build user CSS style for tab status color (works with your light theme) into your addon:
https://userstyles.org/styles/119083/tree-style-tab-tabs-color-active-un-read-selected

Of course it can be optional available though addon configuration.

[2016-09-30 16:07] Croydon commented on #13
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Embedded_WebExtensions

[2016-09-30 21:46] Croydon commented on #13
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage

[2016-10-02 10:18] myBestSoftAndPref commented on #67
Color blind variant compatible with default Firefox and vertical-tabs-reloaded (light and dark) theme.
**Tab's status color blind variant**
https://userstyles.org/styles/133232/tab-s-status-color-blind-variant

[2016-10-02 11:04] myBestSoftAndPref commented on #64
It happens because title bar is not hidden. It's just partially invisible.
Hot fix for Stylish addon or userChrome.css:
[code]

[2016-10-02 11:09] myBestSoftAndPref commented on #64
Or you can use https://addons.mozilla.org/en-US/firefox/addon/hide-caption-titlebar-plus-sma

[2016-10-02 11:13] Cepr0 commented on #64
Thanks! I will try it..

[2016-10-02 12:16] Croydon commented on #67
@myBestSoftAndPref Thank you! I consider accessibility a really important aspect. I will look into it when I have time :)

In general, at some point there will be custom themes #40 so I won't add too many styles via default, but an option for color blind people sounds awesome :)

[2016-10-03 09:15] myBestSoftAndPref commented on #66
**Compact tabs for Vertical Tabs Reloaded**
https://userstyles.org/styles/133396/compact-tabs-for-vertical-tabs-reloaded
<img src="https://userstyles.org/style_screenshot_thumbnails/133396_after.png?r=1475486042" />

[2016-10-03 09:25] myBestSoftAndPref commented on #64
There is same bug under Windows 7 with Classic Theme at least.

[2016-10-03 23:20] Croydon commented on #64
You can toggle the titlebar in the add-on settings. It takes more space, but shouldn't overlap then.
Completely hiding the control elements doesn't sound like a solution suitable for most users.
What could I do here to make your user case better?

[2016-10-04 10:49] myBestSoftAndPref commented on #64
1. You can copy solution from https://addons.mozilla.org/en-US/firefox/addon/hide-caption-titlebar-plus-sma
2. You can create and add three simple buttons on tool bar which call three function: close, minimize/maximize, inwindow/fullsize. I mean it can be just simple button like other addon's buttons. Or it can be group of button.

[2016-10-08 03:32] DavidJCobb commented on #61
Well, I tried moving the affected tab to the second in the list, and the problem still happened... to it. So the problem isn't with the first tab in the list. If I have a pinned tab open to the URL <https://www.facebook.com/?sk=nf>, then there is a random chance that Firefox will close it when I click on it while this add-on is installed.

Haven't tested whether it happens in any browser window or

[2016-10-08 22:06] LostPolygon commented on #49
Please bring it back, I can't imagine Firefox without ability to multi-select tabs anymore. I'll have to revert to some ancient version with multi-select support, unfortunately.

[2016-10-11 05:31] DavidJCobb commented on #61
Just had it happen to the first tab in my third browser window. I guess it isn't specific to Facebook, but is specific to pinned tabs (or tabs restored from a prior session?).

[2016-10-25 19:36] dafunk91 opened #68 "Feature request: display url on tab hover"
Please add this feature for tab whores and low ping bastards :P
Just an irony, nothing personal bout tab whoring :)

http://www.imagebam.com/image/15c551511565408

[2016-12-01 11:19] bdelv opened #69 "Plugin doesn't change anything"
Add-on version: 0.7.1
Firefox version: 50.0.2
OS + OS-Version: Xubuntu 16.10
Other tab + user interface related add-ons: None

After installing the plugin, no vertical tabs appear.
When pressing the hotkey (ctrl+alt+v), the console writes:

console.error: vertical-tabs-reloaded:
  Message: TypeError: objectScope[("vt" + windowID)] is undefined
  Stack:
    initHotkeys/GLOBAL_SCOPE.vtToggleDisplayH

[2016-12-02 10:33] bdelv commented on #69
Update:
Same behavior on other computers
- another Xubuntu 16.10 / Firefox 50.0.2
- Windows 10 / Firefox 50.0.2

First instance of Firefox doesn't show the plugin. Second instance shows it.

[2016-12-02 13:26] bdelv commented on #69
Duplicate.
Works if I switch from "Never remember history" to "remember history"

[2016-12-02 13:26] #69 closed

[2016-12-03 15:44] Croydon commented on #69
Duplicate of #41.

[2016-12-05 20:14] myBestSoftAndPref commented on #68
I think we don't need in combine. We already have https://addons.mozilla.org/ru/firefox/addon/tabtooltip/

[2016-12-11 09:10] jackpipe opened #70 "Feature request: reverse order tablist, ie a tab stack"
Add-on version: latest
Firefox version: 45
OS + OS-Version: OS X 10.11.6
Other tab + user interface related add-ons: None

I'd like to see an option to reverse the order of the list, so that new tabs are added at the top of the list, which push down the other tabs.  ie it becomes a tab stack.  I added this myself in the original VerticalTabs, by adding:

`tabs.mTabstrip.dir = "reverse";`

and I th

[2016-12-12 22:11] roman4e opened #71 "Feature request: move scroll down to show new opened tab"
Please make the tab bar do little scroll down to make newly opened tab visible. Because the impression that nothing has opened.

Add-on version: latest
Firefox version: 50
OS + OS-Version: Linux Mint 18
Other tab + user interface related add-ons:

[2016-12-12 22:17] mbaz commented on #71
Duplicate of #53

[2016-12-12 23:17] roman4e opened #72 "If no hotkey provided"
If nothing in field 'hotkey' console log produces an error
Can be fixed with adding in _index.js_
line 69:
`      if ( /^\s*$/.test(toggleKey) !== true ) {`
line 77:
`      }`

Add-on version: latest
Firefox version: 50
OS + OS-Version: Linux Mint 18
Other tab + user interface related add-ons:

[2016-12-13 19:55] #71 closed

[2016-12-18 03:00] Croydon commented on #72
Actually, it's not THAT easy.
It doesn't cover all cases, e.g. what if the last saved key was an empty string? Then it tries to destroy an non-existing hotkey object.

Do you want to work out a solution and create a pull request? :)

[2016-12-18 03:08] Croydon commented on #70
I would accept a clean and small implementation of this feature, when the feature is opt-in.

@jackpipe You can load unsigned add-ons temporary in about:debugging or use other Firefox Editons like the Developer Edition or Nightly.

[2016-12-18 03:12] Croydon commented on #68
tabTooltip seems to work fine with VTR, please use this add-on (or something similar) if you want this feature. I consider it as out of scope for VTR.

[2016-12-18 03:12] #68 closed

[2017-01-06 22:21] Croydon commented on #13
Updated issue description.

[2017-01-06 22:23] Croydon commented on #13
Because of the embededded WebExtension the latest Firefox ESR (45) can't be supported anymore.

[2017-01-06 22:46] Croydon commented on #13
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/windows/getAll

[2017-01-06 23:39] Croydon opened #73 "Add sync of settings"
This is blocked by #13.

Use storage.sync to sync settings between multiple instances of Firefox.
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage/sync

Implementation is planned as opt-out.

[2017-01-06 23:42] Croydon commented on #41
I guess Mozilla won't invest anymore resources to work on the add-on SDK even it's about fixing stuff. At the end of 2017 only WebExtensions will work anyway.

I have started to work on porting this add-on step-by-step to a WebExtension. You can follow this work at #13.

I will leave this bug open for a while so that people don't report this even more often.

[2017-01-06 23:55] Croydon opened #74 "Provide public API for other WebExtensions"
This is blocked by #13.

The initial version should support the following:
 - [ ] implement an opt-out preference, so that the API can't be used by other add-ons
   - [ ] give respective feedback to the add-ons calling
 - [ ] implement a version switch of the API to stay backwards compatible with older API calls in the future
 - [ ] allow other add-ons the showing and hiding of the tab sidebar
 -

[2017-01-07 12:14] Croydon commented on #13
Release date of Firefox 51 and VTR 0.8.0 including the sync of settings between SDK/WebExt will be around 2017-01-24.

**This VTR release is critical to make sure no users will lose their settings when the full switch to WebExt will happening.**

[2017-01-08 23:02] Croydon commented on #57
I have tested to add an option to hide the toolbar and for some reason it doesn't work with pinned tabs. ba884bec1480c755447fb328d53274b2411ac778

Pinned tabs gets unpinned after every restart of Firefox. I have no clue why If someone knows more about that, let me know :)

[2017-01-08 23:03] Croydon commented on #20
Blocked by #13.

[2017-01-08 23:17] Croydon commented on #36
I consider the advantages of this add-on as too small. Sorry, for anyone who wants to use Fast Dial + VTR.
If Fast Dial is getting rewritten as a WebExtension they should definitely not anylonger interfere each other, if not then it will stop working at the end of 2017.

[2017-01-08 23:17] #36 closed

[2017-01-09 14:16] Croydon commented on #13
**Many APIs the full rewrite will require will only land in Firefox 53 or even later.**

**The next Firefox ESR version will be v52.**

**With other words I will break compatibility with this version very, very quickly, maybe even before the release date of v52.**

**I understand that this is critical, since Firefox ESR v52 will be the last ESR version with _full support of legacy add-ons, NPAPI s

[2017-01-10 14:56] Croydon commented on #74
Blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1258360

[2017-01-11 09:24] Croydon commented on #38
Will be solved somewhen along the road to #13.

[2017-01-17 15:35] Croydon commented on #13
VTR v0.8.0 for Firefox v51+ is now published. It contains the sync of VTR settings betweens SDK and WebExtension, preventing lose of add-on settings for Firefox ESR users, when they update from v52 to the next ESR version in 2018.

[2017-01-17 15:43] Croydon commented on #8
Will be fixed with #13 somehow, somewhen.

[2017-01-23 20:32] krigstask commented on #57
Sorry it took me so long, I was on-and-off the keyboard in January.
Also I couldn't promptly test your branch, probably because 0.8.x isn't compatible with Fx ESR =\
I'll look for a way of trying it some more, thanks for draft implementation!

[2017-01-23 23:15] Croydon commented on #49
To the people who need this feature: Your best shot right now is to express your support for multiselect here: https://bugzilla.mozilla.org/show_bug.cgi?id=566510

Tell Mozilla why you need it.
____

I won't add the old code again. It's buggy and would break anyway again for good with the transition to WebExtensions. I have experimented with outsourcing this to an own add-on, but for the very same

[2017-01-24 20:09] Croydon opened #75 "Implement tab search"
This is blocked by #13.

Implement an input field to limit the displayed tabs. Only tabs which have the keyword in it's title or URL will be shown.

Search bar should be configurable to be
 * always displayed or
 * only displayed after a customizable hotkey (default).

[2017-01-25 07:53] BMarinov opened #76 "Latest version of the addon (0.8.0) incompatible with current version of Firefox (50.1.0)"
Add-on version: 0.800
Firefox version: 50.1.0
OS + OS-Version: Win 10 Pro
Other tab + user interface related add-ons: Tab Groups

I recently tried to install the version on a PC that was already running FF 50.1.0; I got an error message stating that the addon is incompatible with this version of firefox. On the following page I can see that the version im currently running, 0.7.1, is compatible:
h

[2017-01-25 13:06] Croydon commented on #76
Firefox 51.0 was released yesterday. v0.8.0 was indeed a few days online earlier. I realized that I had the possibility to disable the version on AMO after the version got approved so I will do this the next time such a situation occurs.

I general I think that AMO should handle this smarter, but that's an argument for another place.
With the release of FF v51 yesterday the issue is solving itself

[2017-01-25 13:06] #76 closed

[2017-01-25 13:15] Croydon commented on #59
@m0n Please provide further feedback or I will close the issue.

[2017-01-28 01:28] Croydon commented on #44
@danwep Please provide further feedback or I will need to close this issue.

[2017-02-01 02:32] PikachuEXE opened #77 "Any way I can load the extension in `about:debugging`? (or by `web-ext run`)"
Add-on version: `0.8.0` + branch `master` or `webext-fx53`
Firefox version: FF Dev 53
OS + OS-Version: Windows 7

I am using FF Dev 53 on Windows 7.
VTR 0.8.0 from official addon website works fine.
But running `master` or `webext-fx53` locally doesn't work.

[2017-02-01 14:25] Croydon commented on #77
You need the jpm tool, then execute jpm xpi.
Afterwards you can install it via about:debugging, drag and drop or the other common ways.

[2017-02-01 14:33] PikachuEXE commented on #77
I just wonder how the theme works when Fx 57 released
Coz it seems that the style loading depends on `sdk/stylesheet/utils` which is from addon SDK not web extension
https://github.com/Croydon/vertical-tabs-reloaded/blob/webext-fx53/lib/verticaltabs.js#L12

[2017-02-01 14:33] #77 closed

[2017-02-01 15:10] Croydon commented on #77
@PikachuEXE As you can see in issue #13 the rewriting as a WebExtensions is a work in progress and nowhere close to be finished.
Currently it's a SDK add-on with an embedded WebExt. Everytime I can rewrite a part of VTR I move a small-ish part to WebExt.

[2017-02-01 15:12] Croydon commented on #77
By doing so the add-on is working at every point of the rewriting.

[2017-02-03 04:43] Croydon commented on #67
Thanks @myBestSoftAndPref, I have added the colorless variant as an opt-in option.

Will be included in a release in something like 3 months from now.

[2017-02-03 04:45] Croydon commented on #67
By the way, I did choose the colorless variant to make it compatible with every single theme out there.

[2017-02-03 05:27] Croydon commented on #72
Fixed. Will be included in a release circa 3 months from now.

[2017-02-03 05:33] Croydon commented on #44
Closed because missing information and can't be reproduced.

Feel free to comment on this issue if you are affected as well, till then -> invalid.

[2017-02-03 05:33] #44 closed

[2017-02-03 05:38] Croydon commented on #47
@fbruetting This might be solved by now in Firefox. Can you still reproduce this?

[2017-02-03 05:38] Croydon commented on #47
Could by fixed by Firefox 49+

[2017-02-03 05:39] Croydon commented on #23
Closing as duplicate of #47. Might be fixed by Firefox 49 and newer by now.

[2017-02-03 05:39] #23 closed

[2017-02-03 18:40] fbruetting commented on #47
No, I now use the Tab Center (you can get it through Firefox Test Pilot).

[2017-02-03 18:51] Croydon commented on #47
I'm fully aware of the Tab Center experiment, thanks.

[2017-02-03 18:51] #47 closed

[2017-02-06 16:38] xMez opened #78 "Toggle titlebar only works on one window."
Add-on version: 0.80
Firefox version: 51.0.1 (64-bit)
OS + OS-Version: Windows 10 1607
Other tab + user interface related add-ons: Stylish

When using version 0.80 the toggle titlebar option only works on one window, all other windows are stuck with the tabs in the titlebar.
I can toggle the title bar from the addon menu, customize menu and about:config and it's always the same problem.
It doesn't

[2017-02-06 17:20] Croydon commented on #78
Sounds strongly like a Firefox bug when it's the same behaviour via about:config.
I will investigate at the weekend or next week.

@xMez Would you mind explain your user case further? Do you regularly toggle the titlebar? Or was that a rather one time thing you noticed?

[2017-02-06 17:25] xMez commented on #78
I don't usually toggle the titlebar, I noticed that when I created a new window it had the titlebar hidden even though it was set to display.

[2017-02-07 12:50] AmauryLiet opened #79 "Opening new tab while tabbar hidden"
_Add-on version: 0.8.0
Firefox version: 51.0.1 (64-bit)
OS + OS-Version: Windows10 64-bit
Other tab + user interface related add-ons: <None>_

First thanks **A LOT** for the amazing addon, my average 50 tabs and I wouldn't survive without it.

I noticed that VTR is facing an issue when I open a new tab while the tabbar is hidden.

**How to re-create the issue:**
1-Go to any page
2-Hide the tabbar

[2017-02-07 19:45] Stebalien opened #80 "Restored but unloaded tabs are titled "New Tab""
Add-on version: 0.8.0
Firefox version: 51.0.1
OS + OS-Version: Arch Linux

When `browser.sessionstore.restore_on_demand` is set, all restored tabs *except* the tab focused on start are titled "New Tab". They retain this title even after they're loaded/navigated.

[2017-02-07 20:51] Croydon commented on #80
There is sometimes an issue with the very first tab, but never noticed or heard of problems with all tabs except the focused one.

Are these regular tabs? Pinned?
Do you have any add-ons interfering with tabs or the session mangement/storage?

[2017-02-07 20:53] Croydon commented on #79
Thanks for using VTR :)

This is a duplicate of #42.

[2017-02-07 20:53] #79 closed

[2017-02-07 20:54] Croydon commented on #42
Note to myself: Firefox is unloading certain events when the respective UI elements are getting hidden. This is likely the cause of this bug.

[2017-02-07 20:57] Croydon commented on #51
@jonasflint If you are still using VTR it would be nice to know if you can still reproduce this with the current versions of FF, VTR and Tab Mix Plus :)

[2017-02-07 21:10] Stebalien commented on #80
So, apparently hiding the toolbar (`TabsToolbar {display: none;}`) caused this. Any idea why? Changing it to visibility collapse fixes it.

[2017-02-07 21:10] #80 closed

[2017-02-07 22:52] Croydon commented on #80
XUL is unloading events when the respective UI elements are getting hidden, which has crazy outcomes sometimes. I assume this could cause it.

For hiding the toolbar see #57.

[2017-02-13 23:04] Croydon commented on #13
Mozilla updated their release plans. FF53 gets published two weeks earlier. Making an insane timetable even more insane. Updated.

Oh Mozilla...

[2017-02-14 23:57] Keith94 commented on #13
[Bug 1208596](https://bugzilla.mozilla.org/show_bug.cgi?id=1208596) was just fixed, does this mean VTR can be implemented as a sidebar?

[2017-02-15 00:56] Croydon commented on #13
Not really. The sidebar can't get automatically opened, can't stay open as soon as another sidebar opens, can't be automatically reopened and there is still no way to implement tabs which behave like native tabs.

[2017-02-15 15:47] Croydon commented on #13
Similar efforts: https://github.com/piroor/treestyletab/issues/1224

[2017-02-21 20:37] anonymous13587 commented on #64
Why not place the navigation bar content and window controls in the same toolbar? The unoccupied space could be draggable with some reserved next to the window controls like the default tab bar. You could also add some space above the bar when the window is not maximized, as with the default theme.
![capture](https://cloud.githubusercontent.com/assets/25938118/23183580/8bdf1cd4-f84a-11e6-8cbc-759a

[2017-02-21 21:01] Croydon commented on #64
@anonymous13587 I agree that his is one of the best designs, but I won't be able to do anything like that with WebExtensions.

The Firefox team wants to support vertical tabs add-on in some way, including hiding the default horizontal tabbrowser, so they have to come up with some solution for this.

[2017-03-08 18:07] dexter777 commented on #2
Will this be fixed in some near future? I just tried this extension and this is really annoying as I have few tabs pinned and usually 40-80 other tabs open, it's kinda annoying that using mouse scroll to scroll tabs list stops right before pinned tabs

[2017-03-08 21:38] Croydon commented on #2
@dexter777 Right now the only priority is porting VTR to a WebExtension. See #13
All old code will stop working in November. Investing time into the current code base is just a waste of time and in specific I'm expecting fixing this bug is heavily time consuming.

Not sure if I will fix this bug on-the-fly while porting but at least afterwards bugs like this will be the priority.

Given the nature

[2017-03-13 20:56] AndriySvyryd opened #81 "Tabs don't hide in fullscreen"
Add-on version: 0.8.0
Firefox version: 51.0.1 32-bit
OS + OS-Version: Windows 10 64-bit
Other tab + user interface related add-ons: Tab Mix Plus 0.5.0.2

The tabs don't hide in fullscreen if Tab Mix Plus restored previous session on startup.
Disabling and re-enabling the add-on fixes the issue until next firefox restart.

[2017-03-21 23:04] Croydon commented on #42
Will be fixed somehow, somewhen by porting to WebExt. #13

[2017-03-22 03:40] Croydon commented on #13
For the time being (currently only git versions) the window events (fullscreen) can't get fired in priviledged tabs, as a consequence the tab sidebar can't get hidden automatically. Should be fixed as soon WebExtensions sidebars are getting used.

[2017-03-23 16:50] Croydon commented on #13
https://github.com/bwinton/StyleGuide/commit/81741b9fd91658f5adf038ecb38c7e2c89134887

[2017-03-26 17:17] Croydon commented on #13
Pinned tab floading just broke in Nightly 55

[2017-03-28 04:32] Croydon commented on #59
Closed because of missing feedback. @m0n Feel free to still provide more information.

[2017-03-28 04:32] #59 closed

[2017-03-28 06:20] Croydon commented on #13
Seems like there is no way I can migrate the user specified hotkey. Will be resetted to the default then.

[2017-03-28 07:28] Croydon commented on #13
https://bugzilla.mozilla.org/show_bug.cgi?id=1303384

[2017-03-28 22:44] Croydon commented on #81
This sounds like some crazy XUL bug/conflict or session managemant mess.

Since all of these things will go away soon I'm not motivated to invest much time into something like this.
In an update I will publish when Firefox v55 will be released I refactored the logic when the tab browser gets hidden (d860dd8dea437ec640ebcb905a44791fcf1208c4). Bugs like these should go away then, if not it's a bug i

[2017-03-29 18:44] AndriySvyryd commented on #81
@Croydon You are right, it actually happens without Tab Mix Plus too, just less frequently. It seems that it depends on when the tabs are restored in relation to when the addon is enabled. Usually I see the tabs created before they are arranged vertically and that's when the fullscreen issue happens.

[2017-03-29 18:51] AndriySvyryd commented on #81
Update: in 0.8.1 the "Hide tabs in fullscreen" option is not available at all 😕

[2017-03-29 19:21] Croydon commented on #81
This is a performance issue and shouldn't cause such bugs. I have this issue by myself but fullscreen hiding works fine for me.

Ooopps. Indeed. This bugs seems only be reproducable on the release channel of Firefox for whatever reason. I will try to fix it as soon as possible.

The checkboxes are not getting displayed for some reason. If you click on the setting description text you can still tog

[2017-03-29 21:12] Croydon commented on #81
Note to myself: The invisible checkbox bug is not happening in Firefox v53 Beta, v54 Developer Edition and v55 Nightly.

[2017-03-30 01:39] Croydon commented on #81
Note to myself: chrome://global/skin/in-content/common.css has some important differences between v52 and v53

[2017-03-30 01:46] Croydon commented on #81
@AndriySvyryd I will soon push v0.8.2 which brings the fullscreen hiding back to the state it was in v0.8.0 since it really breaks in v0.8.1 completely and the options will be displayed correctly again.

However it might not solve the situation for you right now if your fullscreen troubles have indeed other sources.

Do you mind tell me what other add-ons you have installed?

[2017-03-30 17:12] mbaz commented on #81
I just upgraded to 0.8.2 and tabs are hidden again in fullscreen.

[2017-04-03 13:55] mbaz commented on #61
Add-on version: 0.8.2
Firefox version: 52.0.1 (64 bit)
OS: Arch Linux
Other add-ons: Zotero, VimFx, uMatrix

I started using pinned tabs recently and I'm also seeing similar behavior. I can't point out exactly how to reproduce this, as it happens only rarely, but it's happened over diferent pinned tabs on different windows; I don't think this is specific to certain websites. Undo Close Tab indeed

[2017-04-03 14:23] santonino1984 opened #82 "With VTR 0.8.2 the Firefox title windows is missing."
Add-on version: Vertical Tab Relodaded 0.8.2
Firefox version: 52.0.1 (64 bit)
OS + OS-Version: Microsoft Windows 7 Pofessional (64 bit)

I installed the recent 0.8.2 version of VTR and the title bar was missing, then I used the "safe mode" from Firefox and then without any active extension I see again the title bar window, and then restarted Firefox and tried with four to six extensions activated

[2017-04-03 15:55] Croydon commented on #82
The title bar is getting hidden once at add-on installation, after the installation it's up to the user (via the toggle button or about:config) or to other add-ons if the title bar is getting display or hidden.

In your clean Firefox profile, where you have nothing but VTR installed, can you succesful toggle the titlebar?

[2017-04-03 15:59] Croydon commented on #13
The tabbrowser toolbar will be very likely not displayed anymore in the future thanks to https://bugzilla.mozilla.org/show_bug.cgi?id=1344959

[2017-04-03 16:02] Croydon commented on #42
This will be fixed with https://bugzilla.mozilla.org/show_bug.cgi?id=1332447

[2017-04-03 17:05] santonino1984 commented on #82
OK, now I tried the toggle button in the last clean Firefox installation and the title bar was missing after, but now I tried a second clean Firefox installation (deleted the first) and now the title bar is present with the VTR 8.0.2 without need to use the toggle button, so this is random? the only sure thing is, in my normal Firefox installation, VTR 8.0.2 disappears the title bar and the toggle

[2017-04-04 13:21] woj-tek commented on #13
What is the impact of this change? how VTR is affected?

[2017-04-04 14:03] Croydon commented on #13
@woj-tek

**Too long, didn't read:** It's really hard to say.

Mozilla has set a deadline (2017-11-14, release of FF v57) without knowing by themselves in detail what APIs they want to support till then. Firefox staff seems to move on this issues in a very agile away, to say it friendly, which makes it almost impossible to properly plan transitions for all non-Firefox-staff add-on developers. Seem

[2017-04-04 14:07] yfdyh000 commented on #13
FYI: https://github.com/andymckay/sidebar-tabs

[2017-04-04 14:22] woj-tek commented on #13
Thanks @Croydon Mozilla is acting strange :/

[2017-04-04 16:20] Croydon commented on #81
@AndriySvyryd Could you please provide information if the problem is still there for you with v0.8.2?

[2017-04-04 16:26] AndriySvyryd commented on #81
@Croydon So far I haven't hit it again.

[2017-04-05 18:49] Croydon commented on #13
I also doubt that Mozilla will enable sidebars on the right till v57, so this is another feature which will go away.

[2017-04-06 23:55] Croydon commented on #13
Bugzilla:  Add WE API to provide functions of `SessionStore.setWindowValue` and `SessionStore.setTabValue`
 https://bugzilla.mozilla.org/show_bug.cgi?id=1322060

[2017-04-07 14:17] Croydon commented on #81
@AndriySvyryd Please report it again if you have issues. Closing for now.

[2017-04-07 14:18] #81 closed

[2017-04-07 14:18] Croydon commented on #81
b3c274118f18d475b932a38f67de02ced53104d5

[2017-04-08 15:57] Croydon commented on #13
I plan to enable the new sidebar automatically in FFv56 with an opt-out option, in order to get more feedback, before it gets enforced for good in FFv57.

[2017-04-09 16:22] Croydon commented on #48
@fbruetting Could you please retest with the latest add-on and Firefox version?

[2017-04-09 16:32] Croydon commented on #57
Starting with FFv57 (see #13) VTR will have a custom toolbar. "Thanks" to that it will be possible to hide the toolbar without negative consequences.

[2017-04-09 16:34] Croydon commented on #60
Outdated issue because of the move towards WebExtensions, see #13 for more information.

VTR will have a custom toolbar in the feature, therefore not touching the default Firefox UI elements anymore.

Customization of the custom toolbar will be another issue then and likely won't work over the Firefox customization feature.

[2017-04-09 16:34] #60 closed

[2017-04-09 16:37] Croydon commented on #51
@mbaz Can you still reproduce this issue with current versions of VTR and Firefox?

I'm closing this soon if I don't get more feedback.

[2017-04-09 16:40] Croydon commented on #17
Will be fixed for sure with #13.

[2017-04-09 16:47] Croydon commented on #61
Indeed just very randomly reproducable without clear pattern.
As far as I know it has nothing to do with the website itself.

Sounds like another crazy XUL thingy, which will go away with the porting to WebExtensions (see #13).
May still take some time but is the only stable solution.

[2017-04-09 17:16] Croydon commented on #13
**Heads up: With the release of FFv53 on 2017-04-18 I will soon stop supporting FFv52 (ESR) as mentioned earlier https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-271294600**

[2017-04-09 17:36] Croydon commented on #41
Not that I would complain, but for some completely unknown reason this bug is gone.

Maybe Mozilla did refactor some code parts and fixed this bug without knowing it, either way: 🎉🎉🎉

[2017-04-09 17:37] Croydon commented on #41
@danwep If you are still around it would be nice if you could verify this :)

[2017-04-09 17:37] #41 closed

[2017-04-09 22:39] danwep commented on #41
@Croydon

Can confirm, this is no longer an issue. Thank You :)

[2017-04-10 15:49] mbaz commented on #51
@Croydon Nope -- this bug stopped happening with v0.6.2.

[2017-04-10 16:11] Croydon commented on #51
@mbaz Awesome, thanks.

[2017-04-10 16:11] #51 closed

[2017-04-12 00:16] Croydon commented on #13
# Feedback highly appreciated.
Does anybody know a scenario where it is
a) possible and
b) reasonable
to create a new tab **WITHOUT** selecting this new tab automatically?

I'm currently reimplementing scrolling to selected/new tabs.

[2017-04-12 02:34] mbaz commented on #13
Do you mean like opening a background tab? Middle-clicking on a link will open a new tab but does not switch to it.

Maybe you can switch to the new tab to force scrolling, then go back to the previous tab, hopefully so fast that the user doesn't notice?

[2017-04-15 18:26] Croydon commented on #38
No idea, while Mozilla is working on that NOW, but well, there might be performance improvements in FF55 in stuff they remove in FF57^^

https://bugzilla.mozilla.org/show_bug.cgi?id=1308332

[2017-04-16 22:44] Croydon commented on #38
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1312373 & https://bugzilla.mozilla.org/show_bug.cgi?id=1330635

There is not much I can do about it, since it's almost entirely a Firefox issue.

I will close this issue when VTR is hiding the default tabbrowser via WebExtensions APIs. This might improve the performance a bit (no animation needs to be rendered ect.), everything beyond that is o

[2017-04-17 16:31] woj-tek commented on #13
I definitely open a lot of tabs in the background (especially while researching). Opening new (empty, ctrl+t) tab in the background doesn't make sense IMHO ;)

[2017-04-17 16:32] Croydon commented on #13
Right. Background tabs will definitely be supported by the implementation. Any other scenario?

[2017-04-17 19:18] #67 closed

[2017-04-17 19:18] #72 closed

[2017-04-17 20:51] Croydon commented on #13
![vtrheader](https://cloud.githubusercontent.com/assets/1593194/25104233/d229f8f8-23bf-11e7-9a40-76762a64ef87.PNG)

Another note: It's not possible to hide this sidebar header due to limitations of the WebExtensions APIs. Mozilla wants that users understands what elements are coming from which add-on. I don't understand this point when it comes to sidebars. I mean an user actively chooses to insta

[2017-04-22 17:49] asampal opened #83 "Extension no longer works with Firefox Nightly"
As of a couple of days ago, VTR no longer works with Firefox Nightly. At the time the break first occurred, Firefox had made a change that affected sessions and it also broke Tab Mix Plus, which I use in combination with VTR. Tab Mix Plus has since had another build out which makes it work with the Nightly.

Add-on version: 0.8.2
Firefox version: 55.0a1 (2017-04-22) (64-bit)
OS + OS-Version: Windo

[2017-04-22 23:37] Croydon commented on #83
Caused by https://bugzilla.mozilla.org/show_bug.cgi?id=1352069

Rename browser.tabs.animate -> toolkit.cosmeticAnimations.enabled

[2017-04-23 00:08] #83 closed

[2017-04-23 04:24] asampal commented on #83
@Croydon,  could you set up a development version of the extension if you're not ready to make a full release for it with just this fix?

[2017-04-23 14:36] Croydon commented on #83
I already pushed v0.8.3 to AMO, it's in the review queue.

[2017-04-24 03:03] KuoE0 opened #84 "Not work on 55.0a1"
Add-on version: 0.8.2
Firefox version: 55.0a1
OS + OS-Version: macOS 10.12.4
Other tab + user interface related add-ons:
- Close Tab By Double Click
- Omnibar

[2017-04-24 06:11] Keith94 opened #85 "Tab content is shifting when the tab is busy"
Add-on version: 0.8.3
Firefox version: 54.0a2
OS + OS-Version: Windows 8
Other tab + user interface related add-ons: N/A

The tab spinner, title, and close icon seems to shift a few pixels when the tab is busy (while reloading it)

![2017-04-23_23-07-38](https://cloud.githubusercontent.com/assets/5490615/25324294/eaccb5a8-2879-11e7-9e4d-6f14fe95bbd1.gif)

[2017-04-24 06:21] Croydon commented on #84
Please use the search before reporting issues.

This is a duplicate of #83

[2017-04-24 06:21] #84 closed

[2017-04-24 22:00] Keith94 opened #86 "Default settings fallback isn't working"
Add-on version: 0.8.3
Firefox version: 54.0a2
OS + OS-Version: Windows 8
Other tab + user interface related add-ons: None

With HTML5 fullscreen videos (youtube, twitch etc.) the tab bar should not be visible.

![image](https://cloud.githubusercontent.com/assets/5490615/25360598/ac451890-28fe-11e7-97eb-b2ad3433d286.png)

[2017-04-24 22:02] Croydon commented on #86
It shouldn't.

Please provide all information to give me a chance to reproduce.

[2017-04-24 22:04] Keith94 commented on #86
I edited the OP.

[2017-04-24 22:09] Croydon commented on #86
I noticed that it gets unhidden on an add-on update while in fullscreen. Just to make sure, it wasn't an one time thing?

[2017-04-24 22:12] Keith94 commented on #86
No, the bug is always reproducible.

[2017-04-30 02:07] Croydon commented on #86
I'm still not able to reproduce this.

Are you also sure that you have set the respective VTR setting in the add-on manager?

[2017-04-30 02:41] Keith94 commented on #86
Yes, but that setting does not affect this bug either way.

[2017-04-30 23:57] #17 closed

[2017-04-30 23:59] Croydon commented on #17
I think this is a reasonable feature, so I implemented it in the WebExtension version of the add-on. Till now this was not a feature of VTR, but rather of Firefox and the theme.
Will take some time till this feature ships in a stable version of VTR. More info at #13.

[2017-05-01 00:03] Croydon commented on #43
Will be fixed somewhen, somehow with #13.

[2017-05-01 00:07] Croydon commented on #48
Closing because I can't reproduce this.
Also closing because of the heavy refactoring upcoming. If this ever was a bug of VTR it will be gone after #13 is fixed.

[2017-05-01 00:07] #48 closed

[2017-05-01 02:59] Croydon commented on #13
As of  bf5807d the new default position for the tab toolbar is at bottom, because I'm guessing that in the WebExtension version the "header" of the tab browser would be too big when the sidebar title (https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-294589274) and the toolbar is at top.

It will still be possible to change the setting. Including hiding the tab toolbar all t

[2017-05-01 17:15] Croydon opened #87 "Replace all -moz- CSS attributes"
Replace all -moz- CSS attributes with CSS standards.

[2017-05-01 17:23] Croydon commented on #2
Fixed with bc3b43ec6ce6a6ac10dcb4e5362f9d95fcc7a7cf.

Will still take some time till this lands as a stable feature in a stable VTR version. More info at #13

#13 will also fix it that pinned tabs get sometimes randomly closed.

[2017-05-01 17:23] #2 closed

[2017-05-01 23:47] Croydon commented on #63
The title is there already via default.
Placing buttons in the titlebar is absolutely impossible for me in a WebExtensions-only world.

If you want this please request such a feature from Firefox.

[2017-05-01 23:47] #63 closed

[2017-05-02 13:54] woj-tek commented on #57
OK, I was just playing with VTR options and noticed it's possible to set toolbar to top/bottom and I was meaning to suggest another option "off" but... I'm glad it's on to-do list already :-)

[2017-05-02 13:57] woj-tek opened #88 "Add toolbar button to toggle tabbar"
Add-on version: 0.8.3 / 24.04.2017
Firefox version: 53.0
OS + OS-Version: macOS Sierra 10.12.4
Other tab + user interface related add-ons: n/a

Currently we have a shortcut to toggle (show/hide) the tabbar - it would be great to have a toolbar button that would do just that - toggle visibility of tabbar

[2017-05-02 16:24] Croydon commented on #88
Already done in the dev version a while ago 😄

8f72143ef736f6a579d02ccd595d166743b456f1

[2017-05-02 16:24] #88 closed

[2017-05-03 00:34] Croydon commented on #13
So that is what Mozilla understands under "good support for vertical tabs solutions":
https://bugzilla.mozilla.org/show_bug.cgi?id=1343817#c12

They just decided that sidebars can't be opened automatically.
Meaning, that users will have to manually reopen the tab sidebar many, many times.
A catastrophe for the user experience.

To quote andym:

That is the point I'm most strongly disagree with. **

[2017-05-04 00:15] mbaz commented on #13
Sometimes it feels like mozilla is going the way of gnome.

[2017-05-04 05:15] M-Fabian opened #89 "Plugin prevents tabs from loading while Firefox starts"
Add-on version: 0.8.3
Firefox version: 53.0 32 bit
OS + OS-Version: Windows 7
Other tab + user interface related add-ons: none

When launching Firefox, this plugin seems to prevent tabs from loading. Without the plugin, all tabs are loaded at the same time during startup, which is what I prefer. With the plugin a tab is not loaded until I click on it.

[2017-05-04 13:39] woj-tek commented on #13
This is quite bad... one of the major reasons to use Fx was the abundance of awesome plugins (and VTR/side toolbar being one of most important ones as I was using this setup since Opera 5…)... it's lighter on the resources too.
Chrome and the gang doesn't offer anything even remotely similar!

It seems that the only alternative would be Vivaldi (sic!) which integrates tabbar-positin quite nicely,

[2017-05-06 01:25] #57 closed

[2017-05-06 01:26] Croydon commented on #57
Fixed in the experimental new WebExtension sidebar. Will still take some time till it lands as a stable feature in a stable version. More information at #13.

[2017-05-06 01:33] Croydon commented on #13
I might look into creating an optional [WebExtension experiment](https://webextensions-experiments.readthedocs.io/en/latest/index.html) for Unbranded Builds, Dev Edition and Nightly to counter combat some of the limitions of the WebExtensions APIs.... No one on the release channel would benefit, though. Also it would be required to manually install it in additonal to the add-on itself.

[2017-05-06 01:56] Croydon commented on #52
Since there won't be any compatibility of this kind possible in a WebExtensions-only world this bug did become somewhat invalid.
More info at #13.

[2017-05-06 01:56] #52 closed

[2017-05-06 01:57] Croydon commented on #52
By the way, custom themes will totally happen at some point 😄

[2017-05-06 02:03] Croydon commented on #66
There is no way that WebExtension add-ons can resize their own sidebar automatically. (https://bugzilla.mozilla.org/show_bug.cgi?id=1346490, https://bugzilla.mozilla.org/show_bug.cgi?id=1357567)

Therefore I see no way to implement this. Sorry.

[2017-05-06 02:03] #66 closed

[2017-05-06 02:09] Croydon commented on #32
Only thing left: pin icons.

[2017-05-06 02:12] Croydon commented on #54
Currently I tend to say this is out of the scope of the add-on.
Even in a WebExtentions world 3rd party add-ons should be able to decide which tab gets selected after another one gets closed.

[2017-05-06 02:15] Croydon commented on #61
Fixed by #13 in general. Pinned tabs implemented with bc3b43ec6ce6a6ac10dcb4e5362f9d95fcc7a7cf

Will still take some time till it lands as a stable feature in stable version of VTR. Please be patient 😄

[2017-05-06 02:15] #61 closed

[2017-05-06 02:25] Croydon opened #90 "Implement "Moonshot" theme"
A black/blue/white-ish theme, even darker as the current "Dark" theme.

Will be inspired by @JZersche's:
https://userstyles.org/styles/140402/firefox-vertical-tabs-reloaded-ft-deep-dark

[![](https://userstyles.org/style_screenshots/140402_after.png)](https://userstyles.org/styles/140402/firefox-vertical-tabs-reloaded-ft-deep-dark)

[2017-05-06 02:26] Croydon commented on #78
@xMez Would you mind retesting this with current versions of Firefox and VTR?

[2017-05-06 02:34] Croydon opened #91 "Merge "Windows" and "Linux" themes to "Feather" theme"
Feather will be a
 * very lightweight
 * bright
 * minimalistic

theme.

The current Windows and Linux themes have to many issues and are too smiliar as it is worthwhile continuing them in the current form.

[2017-05-06 11:02] xMez commented on #78
Just tested with VTR 0.83 and Firefox 53.0 (64-bit).
Still have the same issue, the right window should look like the second window.
![vtr problem](https://cloud.githubusercontent.com/assets/5909610/25771804/2a1bef80-325c-11e7-9d0b-8c695df8b1a1.JPG)

[2017-05-06 15:08] Croydon commented on #78
I can reproduce this bug now.
However, this sounds like another side effect for some weird XUL thing and the impact of it is rather small.

Since I want to focus my time on #13 I'm heavily inclining to make this a WONTFIX. Once VTR is a WebExtension this bug will be gone.

[2017-05-06 15:33] mbaz commented on #54
I hope this kind of functionality can be exposed, either by the add-on or firefox itself. Current behavior is inconsistent and, I think, not configurable.

[2017-05-06 18:55] xMez commented on #78
Understandable, I'll just be using an older version then until it's implemented with WebExtensions.

[2017-05-06 19:20] #78 closed

[2017-05-08 23:59] Croydon opened #92 "Investigate support for tab containers"
Find out if there needs to be specific support (likely) and if yes, how it could integrate in VTR.

Reference:
https://github.com/bwinton/TabCenter/issues/405

[2017-05-09 21:24] Croydon opened #93 "Detect + remove invalid values for settings"
Auto detect + clean up invalid values for settings.

Doesn't remove unknown attributes, only known attributes with invalid values to better support up/downgrades of VTR.

Removing these attributes causes the fallback to the default values.

[2017-05-15 12:48] Croydon commented on #43
Actually this is not a problem for me anymore.
@danwep @fbruetting Mind to retest with v0.8.3?

[2017-05-15 23:36] Croydon commented on #13
Firefox gets a setting allowing the toggeling if sidebars should be on the right or left. Downside compared to  now: It's all or nothing. Placing tabs on the other side as the other sidebars won't be possible anymore.

https://bugzilla.mozilla.org/show_bug.cgi?id=1355331

With FF56 I will make it a hidden setting in VTR to change the position. Will be naturally removed in FF57.

[2017-05-16 17:44] fbruetting commented on #43
Not necessary, Mozilla already provides vertical tabs as an Extension.

[2017-05-16 21:09] Croydon commented on #43
Tab Center is an experiment from Mozilla which will very likely stop working with FF57 in Nov.

[2017-05-16 21:09] #43 closed

[2017-05-17 13:15] Croydon commented on #43
Actually seems like it will stop working in August.

https://github.com/bwinton/TabCenter/pull/1082#issuecomment-300866329

[2017-05-17 21:14] fbruetting commented on #43
Guess I'll have to use ESR then :/

[2017-05-17 21:49] Croydon commented on #86
I could reproduce this in a new profile.

In v0.8.3 there is a initializing bug for settings, which doesn't seem to exist anymore in current master.

After unchecking and checking the "hide tabs in fullscreen" checkbox the setting is saved as whished. Then it works for me.

[2017-05-19 11:15] maherma-adg opened #94 "Firefox hang-up when dialogs pop-up."
Add-on version: 0.8.3
Firefox version: 55.0a1 (2017-05-18) (64-bit)
OS + OS-Version: MacOS Sierra 10.12.04
Other tab + user interface related add-ons: None.

Firefox hang-up when dialogs pup-up ( confirm reload dialog, browser auth dialog, etc), showing spinning wheel and no responsible in at all, being necessary force exit.

Disabling add-on restore firefox to work perfectly on same pages.

[2017-05-20 13:37] Croydon opened #95 "Being nice to screen readers"
https://www.w3.org/TR/wai-aria/roles#tab

Blocked by #13

[2017-05-20 23:13] #86 closed

[2017-05-20 23:55] Croydon commented on #86
v0.8.3.1 is on its way.

Thanks for reporting @Keith94!
The code actually had serveral issues leading to this situation.

The lesson I learned is to test more often with clean profiles 🙄

[2017-05-23 09:03] Croydon opened #96 "[Extern] Consider contributions to Tab Mix Plus"
The author of Tab Mix Plus asked for contributions in order to make a WebExtension version.

I want to keep the implementation of VTR minimal.

Features like positioning of new tabs e.g. are out of range for VTR.

Still it's nice to have these features for tab management around.

I will consider contributing to Tab Mix Plus to ensure that
  * TMP will make the jump to WebExtensions
  * works well

[2017-05-23 09:04] Croydon commented on #54
Closed in favor of #96.

[2017-05-23 09:04] #54 closed

[2017-05-23 09:08] Croydon commented on #70
Closed in favor of #96.

[2017-05-23 09:08] #70 closed

[2017-05-23 09:15] Croydon commented on #89
This will be fixed somehow somewhen with #13.

VTR will not touch anymore at all when and how tabs are loading (except maybe requesting a reload on the behalf of the user).

[2017-05-24 15:34] duzers opened #97 "Audio Playing Icon is not visible"
Add-on version: 0.8.3.1
Firefox version:54b9 x64
OS + OS-Version:Windows 7 Pro x64
Other tab + user interface related add-ons:  -

We can enable icon of audio playing (about:config >> browse.tabs.showAudioPlayingIcon) but we can't see this icon.

[2017-05-24 16:42] eeishaan opened #98 "Scrolling not working correctly"
Add-on version: 0.8.3.1
Firefox version: 53.0.3 (64-bit)
OS + OS-Version: macOs 10.12 (16A323)
Other tab + user interface related add-ons: Tab Groups

When I have quite a few tabs open, scrolling on the list of tabs cycles through the tabs instead of scrolling up or down the list.

[2017-05-24 18:45] Croydon commented on #98
Please use the search before reporting issues.

This is a duplicate of #47.

This behaviour isn't controlled by VTR. It will be solved by #13 since WebExtensions will be isolated.

[2017-05-24 18:45] #98 closed

[2017-05-24 20:05] Croydon commented on #97
Unfortunately, it broke with some Firefox update, but my full concentration is now on porting the add-on to a WebExtension. You can get more information at #13.

I will close this issue as soon as I have implemented a sound icon/muting feature into the WebExtension part.

Sorry, for the inconvenience in the meantime. You could use the context menu on each tab to mute/unmute tabs.

[2017-05-25 05:12] eeishaan commented on #98
My bad, forgot to remove the is:open filter from search

[2017-05-28 21:11] krigstask commented on #57
@Croydon, I've got a bit confused by a multitude of branches and versions.  Could you please clarify what branch or version could I try on **Fx 52 *ESR*** to test this fix?  Thanks again for your work, by the way!

[2017-05-28 21:15] Croydon commented on #57
@krigstask Unfortunately, you can't. There is no support for FF52 ESR anymore in newer versions. Read why here: https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-271294600

Also the fix is included in the new WebExtension tab sidebar which is right now incomplete. This sidebar will be testable in a version with FF55, becoming default in FF56 and will be the only useable side

[2017-05-28 21:17] Croydon commented on #57
So you will get this feature eventually, but if you stay on the ESR channel it will still take a long time. To be more specific till the next ESR version is released.

[2017-05-28 21:19] krigstask commented on #57
@Croydon, all right, I can wait just fine =)
Thanks again!

[2017-06-07 03:14] Keith94 opened #99 "Doesn't work in Nightly"
Add-on version: 0.8.3.1
Firefox version: 55.0a1
OS + OS-Version: Windows 8
Other tab + user interface related add-ons: N/A

Installing the add-on in a clean profile doesn't seem to work. Horizontal tabs are still visible and the vertical tabs don't appear. Browser Console:

[2017-06-07 06:34] KuoE0 commented on #99
It also doesn't work on macOS 10.12.4.

[2017-06-10 01:58] fotonmoton commented on #97
confirm that icon doesn't appear.
OS: Windows 10 (x64)
Firefox: 53.0.3 (32-bit)
VTR: 0.8.3.1
@Croydon view your answer. I salute your efforts to port add-on to WebExtension and wish you smooth transition :)

[2017-06-10 12:08] fotonmoton opened #100 "tab close buttons doesn't appear"
Add-on version: 0.8.3.1
Firefox version: 53.0.3
OS + OS-Version: Mac OS 10.11.5
Other tab + user interface related add-ons: suspend tab

Tab close button is not visible but I still can close tabs.
<img width="476" alt="image" src="https://user-images.githubusercontent.com/7763084/27002599-8d52db56-4dee-11e7-93b6-f3ab15c7e487.png">
<img width="359" alt="image" src="https://user-images.githubusercon

[2017-06-11 13:34] Croydon commented on #99
Windows seems still to work. "Only" Linux and macOS broke.

[2017-06-11 14:27] Croydon commented on #99
Correction: v0.8.3.1 is indeed broken on all platforms. The current dev version is working, however.

[2017-06-12 07:46] Croydon commented on #99
I'm likely not going to solve this for now. Nightly is not a high priority and my time is very fragmented over several projects. The current dev/master version works as expected and will become the stable release before FF55 goes stable.

[2017-06-13 14:08] ojab commented on #99
I (and a bunch of other people) have used TabCenter for vertical tabs, but it [will not be supported at all in Fx >55](https://github.com/bwinton/TabCenter/pull/1103#issuecomment-308122056) (latest nightly is already 56).
vertical-tabs-reloaded looks like the most suitable replacement, so the question is which version should support Fx 55+?
AFAIU it is 0.8.4 and this issue depends on https://githu

[2017-06-13 14:38] Croydon commented on #99
@ojab I understand this. v0.8.4 will support FF55+, this version will get released shortly FF55 gets released.

If it is helpful I can provide the current developer version (which is the version in the master branch) as a .xpi file here in a few hours. Alternatively, you can create the xpi file by yourself by using the jpm tool.

[2017-06-13 14:53] ojab commented on #99
It will be really awesome if you could push it to the beta channel on AMO, so it will be signed & anyone be able to install it without changing Fx security settings.

[2017-06-13 19:41] Keith94 commented on #99
@ojab There's actually a WebExtensions replacement for TC here: https://github.com/eoger/tabcenter-redux

[2017-06-13 20:46] Croydon commented on #99
I will likely create a beta channel at some point, but not in the foreseeable future, since I need to manually maintain it permanently then.

For now, here is the alpha version which works in Nightly:

[vertical-tabs-reloaded-0.8.4-alpha.zip](https://github.com/Croydon/vertical-tabs-reloaded/files/1072842/vertical-tabs-reloaded-0.8.4-alpha.zip)

@Keith94 It's completely okay for me if you use anot

[2017-06-13 21:12] Croydon commented on #99
If somebody was quick and already tried the .zip file before: please retry :)

[2017-06-16 22:17] Croydon commented on #99
I actually reconsidered. There you go https://addons.mozilla.org/de/firefox/addon/vertical-tabs-reloaded/versions/beta // @ojab

[2017-06-17 00:00] edduarte commented on #99
Seems to work great on the Nightly version. The only issue I came across so far is that tabs remain visible in fullscreen, or when viewing YouTube videos in fullscreen, regardless of the option "Hide tabs in fullscreen" being enabled or disabled. (Windows 10 x64, Firefox 55.0b2 64-bit)

Thanks for all the hard work! 👍

[2017-06-17 22:47] leedoyle commented on #92
@Croydon you might want to look into [SeaContainers add-on](https://github.com/jonathanKingston/sea-containers ) to see how it can be done.

[2017-06-17 22:59] leedoyle commented on #99
@Keith94 as far as I know, Tabcenter Redux still requires you to hide the default tab bar with another addon. Has it changed?

[2017-06-17 23:09] Keith94 commented on #99
@leedoyle Can't be done yet on Firefox's side: https://bugzilla.mozilla.org/show_bug.cgi?id=1332447

[2017-06-17 23:21] leedoyle commented on #99
@Keith94 I know it's not feasible w/ WE yet, but Vertical Tabs Reloaded does that as it's a hybrid extension. And more importantly, the original Tab Center has been doing that, too.

[2017-06-18 02:14] juliohm1978 opened #101 "Tab close button looks a bit strange. Seems overlapped with another icon."
Add-on version: 0.8.3.1
Firefox version: 53.0.3 (64-bit)
OS + OS-Version: Linux Mint 18.1 Serena
Other tab + user interface related add-ons:

Looking at the vertical tabs, the icon for closing the tab seems overlapped with another image. Below is an example:

![selection_002](https://user-images.githubusercontent.com/4145456/27257599-b9667558-53b2-11e7-9cea-bd23dbd23ef2.png)

[2017-06-19 13:51] asampal commented on #99
@Croydon , thanks for the dev release. Is the problem of not being able to drag-and-drop tabs known to be an issue with this version and Firefox 54?

[2017-06-19 21:48] asampal opened #102 "Tab closes when single-clicking it"
Add-on version: 0.8.4-alpha
Firefox version: Firefox 54
OS + OS-Version: Windows 10 64 bit, Creators Update
Other tab + user interface related add-ons: Tab Mix Plus dev (0.5.0.4pre170525a1)

Since the update to Firefox 54, with VTR 0.8.4-alpha, every once in a while tabs will close when clicked on (single-click). I can bring them back using undo last tab close, but it's still quite annoying.

[2017-06-19 21:50] Croydon commented on #99
@asampel The dev version only supports FF55+ official. Also it depends which sidebar you are using, the WebExtensions sidebar has no drag&drop implementation yet, but I'm guessing you are using the legacy one and there it should work. What other add-ons are you using?

[2017-06-20 03:41] asampal commented on #99
@Croydon , I'm also using Tab Mix Plus - the other add-ons aren't tab related, so I don't think they should cause problems.

[2017-06-20 04:14] asampal commented on #99
I'm not sure what caused the drag-and-drop problem, but after a restart of browser (which I had done before), this now works with VTR 0.8.4-alpha and FF 54.

[2017-06-20 13:38] asampal commented on #102
I can confirm that this also happens with Nightly.

[2017-06-23 16:00] jonasflint opened #103 "when new browser window opens up, the vertical tabs width is not persistant"
Add-on version: 0.8.3.1
Firefox version: 54
OS + OS-Version: Mac OS Sierra v 10.12.5
Other tab + user interface related add-ons: Tab Mix Plus

When opening a new window, the vertical tab opens up wide instead of maintaining the narrow state.  (I resize it to the favicon)

Example: http://d.pr/i/696uT7

want it to stay like this: http://d.pr/i/Opx7g7

this also happens when you take a tab out anoth

[2017-07-05 15:33] mrowwy opened #104 "Use Firefox theme for tab sidebar"
Would it be possible to have a theme mode that uses the installed theme to color the vertical tab bar with the same/similar colors as a theme would instead of the predefined methods in the vertical-tabs-reloaded menu. I think this would make it a bit more easy-on-the-eyes.

Otherwise, great work! :)

Add-on version: 0.8.3.1
Firefox version: 54.0.1
OS + OS-Version: W10
Other tab + user interface re

[2017-07-05 15:37] mrowwy commented on #101
I'm also seeing something similar.
![2017-07-05_08h35_39](https://user-images.githubusercontent.com/1996611/27872254-0505ceb6-615d-11e7-8da8-b176830be379.png)

VTR: 0.8.3.1
FF: 54.0.1
OS: W10

[2017-07-05 18:40] Croydon commented on #104
Right now there is the "None / Firefox defaults" theme option, it leaves the style choices mostly to third parties. It is not perfect, but it works. Unfortunately, this feature is likely to go away, since WebExtensions are strongly isolated from Firefox and each other. More information at #13.

[2017-07-05 18:42] #104 closed

[2017-07-06 18:44] joanbm commented on #97
Adding this to userChrome.css or with Stylish works for me.

[code]

I haven't looked much into it, but it looks like the extension is overriding the default mute icons, and for some reason it doesn't work. This just reverts the list-style-image attribute back to its original value, which appears to work.

The last clause is for optional / for usability purposes (to prevent the mute button from mo

[2017-07-15 12:20] grahamperrin commented on #99
0.8.4-alpha works for me with 55.0b9 (32-bit) on Kubuntu.

Tested:

- drag from initial window
- drop on second window.

I'll test later with 54.0.1 (64-bit) on KDE Plasma 5 on FreeBSD-CURRENT.

[2017-07-15 14:37] grahamperrin commented on #13
Maybe when a new tab is opened by an application other than Firefox. When Thunderbird is in front, for example.

[2017-07-16 07:05] grahamperrin opened #105 "0.8.4-alpha: if the tabs sidebar is hidden when a link is opened in a new tab, then there will be problems (primarily title and URL) with multiple tabs"
## Steps

1. at any page that includes a link
2. click the VTR button
3. observe disappearance of the sidebar
4. open the link in a new tab

## Expected

- for the new tab, a visibly correct title and URL
- normal behaviour when using keyboard shortcuts to navigate between tabs

## Actual results

`5.` either (a) use a keyboard shortcut (e.g. Control-Page Down on FreeBSD), or (b) click the VTR but

[2017-07-16 07:08] grahamperrin commented on #105
https://github.com/Croydon/vertical-tabs-reloaded/commit/8f72143ef736f6a579d02ccd595d166743b456f1 was _Add toolbar button to toggle sidebar_.

[2017-07-16 07:24] grahamperrin commented on #105
A long shot, I wondered whether e10s is a factor.

Not so. I changed `browser.tabs.remote.autostart.2` from true to false, restarted Firefox and reproduced the issue.

[2017-07-16 15:03] Croydon commented on #105
Thanks for reporting, but this is a duplicate of #42.

[2017-07-16 15:03] #105 closed

[2017-07-16 15:31] grahamperrin commented on #105
Thanks. (I did browse issues before reporting, but didn't equate the phrase _tabbar_ with _sidebar_. A bit dyslexic here.)

[2017-07-17 19:43] grahamperrin commented on #38
I have been waiting a few minutes for the sidebar to appear. 523 tabs across eleven windows.

The extraordinary thing about this session:

- for my previous quit of Firefox, I allowed Session Manager to automatically restore the session.

(When I prefer a Session Manager window (list of sessions) to appear _after_ launching Firefox, then the sidebar does appear in the one normal window that's behi

[2017-07-18 05:00] grahamperrin commented on #101
I see this issue with at least one theme after the extension is added.

In my case, the workaround seems to be a restart. Firefox 54.0.1 (64-bit) on KDE Plasma 5 on FreeBSD-CURRENT.

I currently prefer the Darwin theme, with the close box to the left of the favicon.

[2017-07-19 16:43] Croydon commented on #13
After this Friday I will have more free time to continue working on this.

In general I could need someone with CSS skills as I would much faster progress when I wouldn't have to deal with layouting that much.

[2017-07-24 07:27] yafp opened #106 "Add option to show tab-close-button on each tab"
I would love to see an option in the preference to enable or disable a permanent displayed tab-close button on all tabs (not just on the currently active one)

Add-on version: 0.8.3.1
Firefox version: 54.0
OS + OS-Version: Ubuntu 16.04
Other tab + user interface related add-ons:

[2017-07-24 13:03] Croydon commented on #100
@fotonmoton Can you still reproduce this?
And what Firefox theme do you use?

[2017-07-24 13:06] fotonmoton commented on #100
@Croydon currently not on mac, theme - Compact Dark.

[2017-07-24 13:10] Croydon commented on #100
Alright. If this bug should appear again please report it :)

[2017-07-24 13:10] #100 closed

[2017-07-25 16:54] grahamperrin opened #107 "Pinned tabs with the Darwin theme: title visibility in the sidebar"
A minor cosmetic issue.

## Example

1. choose Darwin
2. pin https://www.brighton.ac.uk/about-us/index.aspx
3. restart Firefox.

The title is visible in the title bar, not (or barely) visible in the sidebar:

![2017-07-25 17 52 14 about us - mozilla firefox](https://user-images.githubusercontent.com/192271/28583771-3f09990c-7162-11e7-981f-83a2a9c4346f.png)

## Environment

- Vertical Tabs Reloaded

[2017-07-25 17:05] grahamperrin commented on #101
With Vertical Tabs Reloaded 0.8.4-alpha alone, I can reproduce the symptom by switching from _Darwin_ to _Dark (recommended)_:

![2017-07-25 18 00 13](https://user-images.githubusercontent.com/192271/28584188-ae6f4818-7163-11e7-921b-aa6f13733631.png)

![2017-07-25 18 01 59](https://user-images.githubusercontent.com/192271/28584197-b7628340-7163-11e7-928b-4f2f7fb50521.png)

[2017-07-27 08:34] fungs commented on #101
Mine look like @mrowwy's but are stretched horizontally after installation (widescreen resolution?). However, restart fixes the issue.

[2017-07-31 06:26] hdelbers commented on #102
I have the same problem, but only with pinned tabs. It happens more frequently with windows than with Linux.
- windows 7, firefox 54.0.1, vertical-tabs-reloaded 0.8.3.1
- Linux Mageia 6, firefox 45.5.0

[2017-07-31 16:01] mbaz commented on #102
Duplicate of https://github.com/Croydon/vertical-tabs-reloaded/issues/61 ?

[2017-07-31 22:02] ludasmokva opened #108 "'New tab' option missing from tabbar"
Add-on version: 0.8.3.1
Firefox version: 54.0.1
OS + OS-Version: Win 7
Other tab + user interface related add-ons: Tab Mix Plus

The little '+' icon next to the menu triangle on the tabbar has disappeared. So now in order to open a new tab, I have to right click somewhere on the empty space and choose 'open new tab'.
I recently installed Tab Mix Plus (within last few days).
I can't say for certain

[2017-07-31 22:57] ludasmokva commented on #106
This is curious to me.
If you mouse over any tab, the tab-close option appears. So you don't actually have to 'click' on a tab to have this option available.
Just wondering why you would like it to be permanently visible? Maybe I missed something.

[2017-07-31 23:08] hdelbers commented on #102
Probably. I found #102 when I googled.

From: "mbaz" <notifications@github.com>
To: "Croydon/vertical-tabs-reloaded" <vertical-tabs-reloaded@noreply.github.com>
Cc: "henk" <henk@elbers.com>, "Comment" <comment@noreply.github.com>
Sent: Monday, 31 July, 2017 18:01:07
Subject: Re: [Croydon/vertical-tabs-reloaded] Tab closes when single-clicking it (#102)

Duplicate of #61 ?

—
You are receiving this

[2017-08-01 12:45] yafp commented on #106
For me the current situation feels like it delays the process: i have to target the right side of the tab, then wait until the close-image appears and can then activate the event.

Maybe it is not measurable .... but sometimes i do have the impression that the actual process of loading the close-image itself is delayed as well (while it isnt always.... might be load related)

[2017-08-01 13:16] ludasmokva commented on #106
Ahh... ok.
For me the process is much much quicker. The 'close' button appears instantaneously; I go to close and the button is there.
It could be your browser is just slow. FF really lagged on my last system - not sure why. Everything seemed to be going through a 'delay' of sorts before executing. Not sure how vertical tabs responded as I didn't have it installed, but I imagine it would have been

[2017-08-01 14:44] asampal commented on #102
It's not clear to me if this is supposed to be fixed, according to the comments in #61.

[2017-08-01 18:12] ludasmokva commented on #108
Just wanted to note that I have included some attachments on the TabMixPlus forum in case you wanted to view the details. I would be happy to attach any of them here as well if you deem it necessary. Let me know.
Here is the direct link to the forum post:
http://tabmixplus.org/forum/viewtopic.php?f=2&t=19870

[2017-08-01 20:42] mbaz commented on #102
@asampal I believe it's fixed, but in a branch that won't be merged soon.

[2017-08-02 00:26] ludasmokva commented on #108
OK. Update:

TMP found the reason for the disappearing "+".
In their 'New Tab' settings (Display > Tab Bar) the new tab option defaults to 'After Last Tab'. If you choose Left or Right, the "+" will reappear left of the drop arrow.
As it really doesn't have any other positioning function (left or right does not make any difference), it may be wise to take control of this option and not allow the u

[2017-08-03 20:40] Nemesis31 opened #109 "Big gap between Tabs"
Hi,

Add-on version: 0.8.3.1
Firefox version: 54.0.1 (64 bits)
OS + OS-Version: W10 64 bits
Other tab + user interface related add-ons: Stylish with Firefox Black

Sometimes, when i open another tab (blank tab or filled one), a gap is created, like on the screenshot.
I tried to reproduce it, but, it's like, random.

https://up2sha.re/media/raw/r3HFKaNA.png

[2017-08-05 13:35] grahamperrin commented on #99
[RapidRelease/Calendar - MozillaWiki](https://wiki.mozilla.org/RapidRelease/Calendar) – with 55 scheduled for release Tuesday 2017-08-08 (three days from now), might it be sensible to make 0.8.4 available as an update on Monday?

### 0.8.4-alpha with Firefox 54.0.1 (64-bit) on KDE Plasma 5 on FreeBSD-CURRENT

Tested over a three-week period. Drag-and-drop across windows, across multiple desktops,

[2017-08-06 10:32] choller commented on #13
I've asked for help for you here: https://bugzilla.mozilla.org/show_bug.cgi?id=1387816

Please keep on developing on this, it's very valuable. If you need testers, I'm willing to try things out here :)

[2017-08-06 14:43] Croydon commented on #99
@grahamperrin This was the original plan all the way, have a look at the very beginning of #13 for a timetable :)

[2017-08-06 14:52] grahamperrin commented on #99
My bad! https://github.com/Croydon/vertical-tabs-reloaded/issues/99#issuecomment-308137779 makes it clear. Thanks.

[2017-08-06 14:56] Croydon commented on #99
v0.8.4 is now in the review queue. I will close this issue, when the version is public.

[2017-08-06 16:15] Croydon commented on #109
@Nemesis31 What VTR theme are you using?

[2017-08-06 19:02] Nemesis31 commented on #109
Hello, if I remember well, i tried the default and the dark one. But I'm not at home so... When i return (around the 20th), I'll try some tests (like running Firefox with a clean profile).

[2017-08-07 15:30] Croydon commented on #99
Published.

[2017-08-07 15:30] #99 closed

[2017-08-08 20:11] Croydon opened #110 "Fullscreen in Firefox 55 Release broken"
Well, I was thinking Firefox Beta is there for testing...

Anyway, fullscreen is broken in FF55 release right now, while apparently working in all other versions, including Firefox Beta 55...?

The problem is that I won't be near any computer till next Monday, so there won't be a fix till then.

In the meantime: you can use the keyboard shotcut for hiding the tab browser BEFORE going into fullscre

[2017-08-08 20:39] woj-tek opened #111 "VTR stopped working in Firefox 55.0"
Add-on version: 0.8.3.1
Firefox version: 55.0
OS + OS-Version: macOS Sierra 10.12.4
Other tab + user interface related add-ons: (list at the end)

So today Fx updated to 55 and VTR stopped working - all my tabs are at the top rendering the browser virtually unusable... Anyone else experiencing the problem?

List of all plugins:
[code]

[2017-08-08 20:47] Croydon commented on #111
Please simply update to v0.8.4. I changed the compatibility information for v0.8.3.1 too late, so Firefox didn't update VTR on Firefox's update.

[2017-08-08 20:49] Croydon commented on #111
For everyone updating to FF55 at some point later it should work from the beginning (however, I don't know how long the compatiblity information are in the cache).

[2017-08-08 20:50] xxTheGoDxx commented on #110
Same behavior here, thanks a lot for the headsup.

[2017-08-08 20:51] woj-tek commented on #111
Weird, I could swear that I checked for update after the upgrade but nothing changed. Now I've done it again and it worked! Thanks for quick feedback 👍

[2017-08-08 20:52] Croydon commented on #111
Your welcome. Unfortunately, #110 will stay a few days (except somebody makes a pull request of course)

[2017-08-08 20:53] Croydon commented on #111
Actually, I will leave this open for a while, so that people find it better when they encounter the same.

[2017-08-10 02:22] edduarte commented on #110
Strange, I even mentioned this before, during the beta phase: https://github.com/Croydon/vertical-tabs-reloaded/issues/99#issuecomment-309169895

Any follow up on this?

Thanks for the all hard work.

[2017-08-13 17:50] joanbm commented on #97
They have changed the paths to the icons in FF55: https://bugzilla.mozilla.org/show_bug.cgi?id=1368428, so the icons no longer appear with the old fix

New fix:

[code]

[2017-08-14 01:04] #97 closed

[2017-08-14 01:05] Croydon commented on #97
@joanbm Thank you so much for the Bugzilla link and the example fix. You did save me quite some time with that :)

[2017-08-14 01:09] #111 closed

[2017-08-14 02:36] #110 closed

[2017-08-14 04:27] Croydon commented on #38
With Firefox 55 this is now dramatically better. Since the major performance problem never was caused by VTR I will going to close this now.

The performance will get even better with further Firefox/VTR versions.

[2017-08-14 04:27] #38 closed

[2017-08-14 14:43] delphinuz opened #112 "Doesn't work on 55.0.1"
Add-on version:0.8.4.1
Firefox version:55.0.1
OS + OS-Version:win8.1
Other tab + user interface related add-ons:

[2017-08-14 15:38] Croydon commented on #112
You didn't provide me any information which brings me further unfortunately.

v0.8.4.1 in FF 55.0.1 is working on my Windows 10 computer.

Did you try a restart of Firefox? Have you looked into the error console (Ctrl+Shift+J)?

[2017-08-14 15:52] delphinuz commented on #112
Sorry. I removed all profiles and reinstall this addon again, than it works now.

[2017-08-14 15:53] Croydon commented on #112
Alright. Nice :)

[2017-08-14 15:53] #112 closed

[2017-08-14 18:37] joanbm commented on #97
@Croydon Glad I could be of help!

I checked the commit and see that you included the "visibility: visible !important" part, this part was just to make the close buttons always show, but it's not related to the audio visible icon (it's just that I like it that way, because otherwise the audio playing icon moves when you hover over it).

However note that it doesn't seem to do anything in the state

[2017-08-15 19:34] justdave commented on #102
I'm seeing this with pinned tabs.  What it looks like to me is it's supressing the title, and the close box (which isn't visible until you hover it) is at the left right next to the icon.  Usually pinned tabs don't even have a close box, and you have to use the context menu to close it or unpin it first.

[2017-08-15 19:41] justdave opened #113 "Pinned tabs don't stay at the top if you have enough tabs to scroll"
Add-on version: 0.8.4.1
Firefox version: 56.0b2
OS + OS-Version: Mac OS X 10.12.6
Other tab + user interface related add-ons: Tab Groups

Pinned tabs appear to be part of the scroll region of the tab bar, which means if you have enough tabs to make your tab bar scroll, they scroll off the top when you scroll down.  This kind of defeats the purpose of having them pinned.  Pinned tabs should be outs

[2017-08-15 20:11] Croydon commented on #113
Duplicate of #2.

More information at
https://github.com/Croydon/vertical-tabs-reloaded/issues/2#issuecomment-298379563 and #13.

This will be fixed with the new WebExtension sidebar, there won't be a fix for the current legacy one. Please be patient.

[2017-08-15 20:11] #113 closed

[2017-08-15 20:36] justdave commented on #113
Aha! awesome.  Thanks!

[2017-08-16 13:03] ZimM-LostPolygon commented on #106
I have 700 tabs opened, and indeed, there is a delay before the "close" button is shown. The result is, I cannot close a whole bunch of tabs by just clicking on the "close" button without moving the cursor, because half of the time the tab gets selected instead, meaning that the close button wasn't there at the time of the click. I've managed to hack the theme CSS to get the desired behavior, but

[2017-08-16 17:32] Croydon commented on #13
@vdeurzen You can build VTR by using the [https://www.npmjs.com/package/jpm](JPM tool) then simply navigate to the root of the VTR git repository and type jpm xpi

[2017-08-17 08:55] justdave commented on #106
I'm having the opposite problem...  I'm accidentally closing tabs because the close button isn't there, and I happened to click near the edge of the tab trying to switch to it.  And it closes instead because I nailed the close button I couldn't see.

[2017-08-20 10:48] Nemesis31 commented on #109
Hi there,

with clean profile, the add-on is working fine. So i tried again with my profile.... not working, but the problem was not the gap now, it was an overlapping between the menu with all the icons and the Title menu of Firefox.

So, i decided to re-install VTR and now, all is working fine ! :D

[2017-08-20 10:50] Croydon commented on #109
@Nemesis31 You could have just toggle the title bar within the VTR settings.

However, if everything works fine then nice :)

[2017-08-20 10:50] #109 closed

[2017-08-20 21:30] Croydon commented on #108
In the new WebExtension sidebar the new tab symbol can't vanish. I will close this bug therefore.

[2017-08-20 21:30] #108 closed

[2017-08-20 21:30] Croydon commented on #108
Thanks for providing all the information :)

[2017-08-24 10:00] voxadam commented on #13
First of all, I love VTR. In all honesty, I don't know how I'd refactor my workflow if it were to cease existing.

I just stopped by to see if VTR was going to be able to weather the storm that the move to WebExtensions has become. This issue, #13, has done an excellent job to allay my fears. The only thing I'd say is that it might be helpful to include something in the README, and maybe even in t

[2017-08-24 17:28] grahamperrin commented on #13
There already:

[2017-08-24 17:30] grahamperrin commented on #110
0.8.5-alpha working as expected. Thanks.

[2017-08-24 22:21] Croydon commented on #13
This sentence was already in the summary after @voxadam comment I also added it to the long description and I will update also the readme. He is right, that it is critical for users to know if the add-on will just stop working or continue.

[2017-08-24 23:56] voxadam commented on #13
Crap! I don't know how I missed that. Well, it _was_ 0300 when I commented but I should have read more carefully. Aside from the absurd hour it's entirely possible that I didn't more than glance at the AMO entry but rather headed straight to the repo and the README.

In any case, thanks for the great work. Cheers! 🍻

[2017-08-28 18:46] eddy-geek commented on #13
Regarding May 3 comment, apparently sidebars can be opened automatically now that https://bugzilla.mozilla.org/show_bug.cgi?id=1341126 landed.

[2017-08-29 14:08] sabi0 commented on #20
Another critical difference about pinned tabs in TST is that they are never scrolled off the screen.
I suppose this special panel makes that possible.

Pinned tabs are there for quick access (e.g. I have GMail as a pinned tab). And when there are many tabs open (so that a scrollbar appears) one has to scroll tab bar up and down all the time.

I would prefer the compact display for pinned tabs. I a

[2017-08-29 17:24] ludasmokva commented on #108
Works really well. Even the title bar now shows up.
Thank you!!
I will make a note on the tab-mix forum as well that everything is working
fine.
I only recently started using your add-on, and found it kind of weird at
first.
Now I absolutely love it. It is soooooo much easier keeping track of huge
amount of tabs I keep open.
I see it is still marked as legacy, and I really hope you are able to
upd

[2017-08-29 18:04] Croydon commented on #20
@sabi0 That pinned tabs aren't always visible is already fixed in the new WebExtension sidebar there won't be a fix for the current legacy one. More information at #2.

[2017-08-29 18:06] Croydon commented on #108
@ludasmokva Thanks for your warm words :)

I'm working on porting the add-on to WebExtension see all information at #13.

[2017-08-30 12:41] sabi0 opened #114 "Better display for dark favicons in the dark theme"
Dakr favicons (e.g. GitHub's one) are poorly visible when using dark theme. They should be inversed or highlighted in some other way.

Here is an example how they did it in Opera:
https://blogs.opera.com/desktop/2017/06/opera-47-beta/

[2017-08-30 12:44] sabi0 commented on #20
Thanks. Is there any way I could start using this fix already?
I couldn't find where I could install WebExtension sidebar version from.

[2017-09-01 05:10] grahamperrin commented on #42
Mozilla bug 1332447 (above) is _WebExtension API to hide the tabstrip_.

There's also [1341126 - add open API to browser/page/sidebarAction](https://bugzilla.mozilla.org/show_bug.cgi?id=1341126) (WebExtensions frontend), which is:

… 57.

I'm pleased that 1341126 is fixed, but the association with 57 sort of dashes my hope that this critical issue #42 might somehow be fixed for users of an inferio

[2017-09-01 05:30] grahamperrin opened #115 "VTR button (icon in the toolbar of Firefox) route to preferences for Vertical Tabs Reloaded"
From critical <https://github.com/Croydon/vertical-tabs-reloaded/issues/42#issuecomment-326489533>:

## Enhancement request

If it's not too much work, please add a user preference to prevent hiding of the side bar.

### First thought

A pin within the grey area at the head of the bar (or the foot, where some users prefer that bar).

### Second thought

Something other than a pin (because a pin mi

[2017-09-01 06:26] grahamperrin commented on #115
I completely forgot –

![2017-09-01 07 20 24 add-ons manager](https://user-images.githubusercontent.com/192271/29957613-52a276fe-8ee6-11e7-987f-f78d9453dbed.png)

– we already have the preference in the `about:addons` interface to Vertical Tabs Reloaded.

(Sorry! Maybe I had become word-blind to the preference, from it not working in the past.)

----

I'll leave this ER open, for consideration of

[2017-09-01 11:12] Croydon commented on #115
For the new WebExtension version I planned to add an option symbol to the toolbar (this is what you called "grey area at the head of the bar") which opens the preference page within about:addons

What are your thoughts about this solution?

[2017-09-04 15:16] jonasflint opened #116 "Preferences are not loading in Firefox 55"
Preferences are not loading. I'm getting a spinning loader:

http://d.pr/i/TFDrf4

Add-on version: .08.4.1
Firefox version: 55
OS + OS-Version: Mac OSx Sierra 64bit
Other tab + user interface related add-ons:

[2017-09-06 09:23] sabi0 commented on #107
I had the same issue with the Dark theme (FF 55.0.3 64-bit, Win7).
But it suddenly got fixed by itself once I cleaned up some open tabs.
Apparently pinned tabs titles disappear once a scrollbar appears in the tab pane.

[2017-09-07 23:14] Croydon opened #117 "Add support for Opera"
It might be relatively easy to support Opera as well.

Blocked by:
 - [x] #13
 - [ ] #87

[2017-09-09 06:29] grahamperrin commented on #116
Hi @jonasflint

Your screenshot shows the absence of a screenshot.

Not reproducible with 0.8.5-alpha on Firefox 55.0.3 (64-bit) on FreeBSD-CURRENT:

![2017-09-09 07 20 47 add-ons manager](https://user-images.githubusercontent.com/192271/30237733-069c0658-9530-11e7-9b82-d5cf95485d63.png)

![2017-09-09 07 22 02 add-ons manager](https://user-images.githubusercontent.com/192271/30237732-06966342-9530

[2017-09-09 06:50] grahamperrin commented on #115
Defocusing from Vertical Tabs Reloaded: I _never_ enjoy Mozilla's `about:addons` interface to extension-specific preferences. It's necessary to page down before preferences begin to appear, and so on.

----

For VTR: I reckon, the future ideal will be a drop-down (pop-over) from the button, with the space focused solely on the full set of preferences for the extension.

In the meantime … yes, it w

[2017-09-11 15:13] jonasflint commented on #116
updated screenshot: http://d.pr/i/ViZ32Z

here is my about:support data:
`{
  "application": {
    "name": "Firefox",
    "osVersion": "Darwin 16.7.0",
    "version": "55.0.3",
    "buildID": "20170824053838",
    "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:55.0) Gecko/20100101 Firefox/55.0",
    "safeMode": false,
    "updateChannel": "release",
    "supportURL": "https://suppo

[2017-09-11 15:20] jonasflint commented on #116
I found the conflict. It's a conflict with vertical tabs relaoded.   I disabled that and it's fine.

[2017-09-11 16:06] Croydon commented on #116
Alright. Thanks for reporting. Since All In One Sidebar is a legacy add-on which can't be updated to WebExtensions it will stop working with FF57, therefore I will not try to find a fix for compatibility.

[2017-09-11 16:06] #116 closed

[2017-09-12 13:35] belg4mit opened #118 "Middle-click considered harmful"
Add-on version: 0.8.4.1
Firefox version: Waterfox
OS + OS-Version: Windows 10
Other tab + user interface related add-ons:

Having tabs closed due to middle-clicking is insidious and evil, especially since it is possible to accidentally middle click when using a scroll wheel. At a minimum, this should be optional.

[2017-09-12 14:36] glacjay opened #119 "Is there any way I can keep different enabling status of this extension?"
Add-on version: 0.8.4.1
Firefox version: 55.0.3
OS + OS-Version: Windows 10 / macOS 10.12.6
Other tab + user interface related add-ons:

I have two machines right now, one with a large screen, another with a little one. So I want to enable this extension on the first one, and disable it on the second.

I've enabled Firefox Sync, so I cannot do this directly within Firefox's extension manager.

[2017-09-12 14:40] glacjay commented on #119
BTW. When I previously using Tree Style Tabs, there is an option to choose the location of the tabbar, and I chose different ones (one top / one left) on my two machines.

[2017-09-12 18:06] #115 closed

[2017-09-12 18:15] Croydon commented on #115
I have added now an option icon to the new WebExtension sidebar, which opens the about:addons options page. Further improvements might come in the future. In specific I'm hoping that https://bug623317.bugzilla.mozilla.org/show_bug.cgi?id=1253419 is getting implemented soon into Firefox.

![webext](https://user-images.githubusercontent.com/1593194/30341623-0696c246-97f7-11e7-9c0d-a399cdf8a26d.PNG)

[2017-09-12 18:19] Croydon commented on #115
Also I have shorten a bit the add-on description because it is indeed a user experience problem, that they have to scroll down first.

[2017-09-13 00:39] Croydon opened #120 "Complete context menu options"
Blocked by #13. The initial full WebExtension version won't have all context menu options there are right now available. This issue collects what still needs to get implemented:

* [x] Move to New Window (3600cb1, 0.10.0a2)
  * [x] Problem: Sidebar isn't open in the new window
    * This was fixed in Firefox somewhere along the way, it's at last in FF 62.0a1
* [x] Close All Tabs Above (43770b0, 0.

[2017-09-13 02:52] lootninja77 opened #121 "Pin tabs with/without text"
Add-on version: 0.8.4.1
Firefox version: Waterfox 55.0.2
OS + OS-Version: Windows 10
Other tab + user interface related add-ons:

Noticed behavior: When there are not enough tabs to cause a scroll bar, text labels show on pinned tabs. Once you open enough tabs to have a scroll-bar, the text labels disappear.

Desired behavior: always show the text labels for pin tabs, or have the ability to toggle

[2017-09-13 19:41] Croydon commented on #13
## Heads up

The developer channel on AMO will soon go full WebExtension. However, this also means that this channel will soon offer an incomplete and highly instable version of the add-on. So everyone who doesn't need this version for some reason should go back to the release channel (by simply installing it from AMO again).

On the positive side: Nightly users can soon use VTR again.

[2017-09-14 03:33] Croydon commented on #106
Reference: https://github.com/Croydon/vertical-tabs-reloaded/issues/97#issuecomment-322272573

[2017-09-14 18:16] Croydon commented on #94
@maherma-adg Would you mind retesting with the newest VTR version and Firefox version?

I'm pretty sure that this is not a VTR issue.

[2017-09-14 20:46] maherma-adg commented on #94
I can't test it again on Nightly, it deactivate VTR because it's using legacy add-on system.
On Firefox Dev.Ed. 56.0b11 (64-bit) VTR (0.8.4.1) works fine.

[2017-09-14 21:14] Croydon commented on #94
@maherma-adg Thanks for the feedback! I'm going to close this as invalid since I could never reproduce it. Also if this is a problem caused by VTR it would go away with the WebExtension migration.

The developer channel on AMO will soon have a full WebExtension version by the way: https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-329275140

[2017-09-14 21:14] #94 closed

[2017-09-15 00:23] Croydon commented on #101
For the dark theme this should be fixed with b1d8203a838dd879abe41868a1fe0b11e8e40880  (will be in the next update). For the rest of the themes I will introduce the fix when rewriting them for the full WebExtension version.

[2017-09-15 19:38] Croydon commented on #4
Reopened, because the situation is a completely different nowadays due to the fact that tab groups isn't a build-in feature of Firefox anymore and the dynamic of add-ons change with WebExtensions.

I want that there is a tab group solution which works nicely together with VTR.

[2017-09-17 23:48] Croydon opened #122 "Give themes the possibility to make more visual hints about tab status"
If the users enables the status display for the tab status, the individual themes should be able, to give more visual hints then the default underline/strike through.

[2017-09-18 00:36] Croydon opened #123 "Add ESLint configuration"

[2017-09-18 02:54] Croydon commented on #13
The developer channel [(end of page)](https://addons.mozilla.org/en-US/firefox/addon/vertical-tabs-reloaded/) has now a WebExtension-only version. While I'm in general happier when users report too much instead of too less, please be assured in this case that I'm obviously aware that almost every feature is missing right now. Thank you 😄

[2017-09-18 06:29] grahamperrin commented on #119
I wonder. Maybe something like this combination of preferences:

- `services.sync.prefs.sync.extensions.verticaltabsreloaded.sync.enabled`
- `services.sync.prefs.sync.extensions.verticaltabsreloaded.sync.values`

– that's loosely based on what I see for Greasemonkey (without me understanding their effects!).

----

I have what may be an overlapping use case. Sometimes I want to change the order of

[2017-09-18 06:39] grahamperrin commented on #106
Enabling this option will have the added benefit of reducing (or ceasing) moving targets – shifting texts – when (with e.g. [Stylish](https://addons.mozilla.org/addon/stylish/)) there's a user preference for **a close button on the left of each tab** in desktop environments that prefer things to the right:

[code]

[2017-09-18 06:45] grahamperrin commented on #13
The laughter! The pain!

[2017-09-18 13:38] Croydon commented on #13
Don't worry, everything I don't explicit name within this issue as impossible or a "Post-57-job" will make it in time =)

[2017-09-20 03:05] ludasmokva opened #124 "Probably not a bug... but what the heck is it and what does it do?"
Add-on version: 0.8.4.1
Firefox version: 55.0.3 32-bit
OS + OS-Version: Win 7
Other tab + user interface related add-ons:  Tab Mix Plus, Private Tab (??)

So.. in an effort to reorganize my tabs, I happened to resort to the windows technique where I press SHIFT or CTRL to select multiple tabs. The result was somewhat strange... an exclamation point appeared on the tab with SHIFT and an additional

[2017-09-20 15:23] Croydon commented on #124
VTR doesn't support multi-select of tabs right now, which means you are using another add-on with this ability. Also, VTR does not add anywhere exclamations points or asterix.

Sorry, I guess I can't really help here  :)

[2017-09-20 16:39] ludasmokva commented on #124
Hmmm.... interesting. Could be some kind of default feature in tab mix plus or FF.
Would have been helpful if they also created a tool tip or right click option that would help identify what the feature is/does.
Oh well, I have enough problems to worry about. No point in spending time identifying something that doesn't really harm anything. But I'm glad I'm not adding to your workload.  :)
(And no

[2017-09-20 17:08] Croydon commented on #124
Thanks :)

There is already a suggestion: #49 😄

[2017-09-20 17:08] #124 closed

[2017-09-20 17:14] Croydon commented on #117
I will support Opera in the future.

I got it this far in like 10 minutes:

![opera2](https://user-images.githubusercontent.com/1593194/30657397-cb609b42-9e37-11e7-94f1-471112560a8e.PNG)

[2017-09-21 13:24] alexander255 opened #125 "Broken after latest Firefox DE upgrade"
Add-on version: 0.8.5a2
Firefox version: 57.0b1 (FireFox Developer Edition)
OS + OS-Version: Fedora 26
Other tab + user interface related add-ons: None

After having used Vertical Tabs Reloaded (and its predecessors) for many years I now got "upgraded" to FireFox 57.0b1 and could not use VTR Classic anymore. So I installed the latest dev release instead, but it won't work either unfortunately:

![

[2017-09-21 13:43] Croydon commented on #125
Open a build-in sidebar, then select VTR in the drop-down options. This should work.

[2017-09-21 14:05] alexander255 commented on #125
Thanks! That was a bit non-obvious, but now it works! :+1:

[2017-09-21 14:05] #125 closed

[2017-09-21 14:16] Croydon commented on #125
I know, I'm working on it :)

[2017-09-21 14:17] Croydon commented on #125
Another hint: Use the context menu for a few basic tab options (and yes, that has some display problems on it's own)

[2017-09-21 21:41] #123 closed

[2017-09-24 13:37] Croydon commented on #121
That pinned tabs don't have a text label sometimes is actually a bug and not intended.
There won't be a fix for the legacy sidebar anymore, but it will be fixed in the new WebExtension sidebar. Pinned tabs are already better implemented there (always visible at top). Also at some point I will implement this feature: #20, which only shows the favicon of the pinned tab and no text.

So the short ans

[2017-09-24 13:52] Croydon commented on #119
This situation should be solved with the WebExtension version. For Firefox 57 it likely won't be technically possible to hide the default tab browser. With a later Firefox version it will be possible and then I will offer within VTR such an opt-out option. Meaning, in the default options Firefox's own tab browser is getting hidden, but it is possible to make it visible again.

Keeping Firefox's ta

[2017-09-24 13:59] Croydon commented on #20
@sabi0 Sorry, for not answering in a while. At the time you asked there wasn't any satisfactory answer to your question.

Now, there is a full WebExtension version in the development channel on AMO: https://addons.mozilla.org/en-US/firefox/addon/vertical-tabs-reloaded/ (end of page)

However, it is really extremely limited right now and it is for Firefox >= 56 only, progess can be seen at #13.

So

[2017-09-25 16:08] smferris opened #127 "Add a tab search feature"
There's a Chrome extension called Quick Tab that has a search feature that I'd love to see added to VTR somewhere/somehow.  It works like the tab list dropdown, but adds a search field that narrows the list of tabs displayed to just the tabs with titles that match the search text.  It's very useful if you have a lot of tabs open and want to find a particular tab quickly without having to scroll th

[2017-09-25 16:18] Croydon commented on #127
Please use the search before reporting issues.

This is a duplicate of #75

[2017-09-25 16:18] #127 closed

[2017-09-27 07:41] sabi0 commented on #20
Another issue I noticed with pinned tabs is that new tabs are opened at the top of the (normal) tabs list.
For example, when I click on a link in a pinned GMail tab. I would expect such tabs to be added at the end of the tabs list.
(While middle-click in a normal tab should still open the new tab next to it)

[2017-09-28 16:59] coolynx commented on #101
Thanks guys for extension. Just upgraded my Firefox 56.0 and found out that this is THE version where Tab Center stopped working. 😢

Suggested Tab Center Redux does not work with Group Tabs.

So, I found this one. 👍

Guessed that it should have a close button. By clicking in the area tabs were closed but without a button. 😄

<img width="306" alt="screenshot 2017-09-28 at 19 51 58" src="https://use

[2017-09-28 17:25] coolynx commented on #101
After playing around and restarting Firefox few times I got a close button. So, there are no issue with the latest Firefox 56.0 and extension. 👍

<img width="267" alt="screenshot 2017-09-28 at 20 23 27" src="https://user-images.githubusercontent.com/5902951/30980814-01218666-a48b-11e7-94cc-ab1a52505e61.png">

Sorry to spam this thread.

[2017-09-30 20:15] asampal opened #128 "Tabs show both in sidebar and across the top in Nightly v58"
With the current FF Nightly, I'm getting tabs across the top and in the sidebar. Known issue?

Add-on version: 0.8.5a2
Firefox version: 58.0a1 (2017-09-30) (64-bit)
OS + OS-Version: Windows 10 64 bit CU
Other tab + user interface related add-ons:

[2017-09-30 20:21] Croydon commented on #128
This is a limitation in the Firefox WebExtensions APIs I can't work around.
https://bugzilla.mozilla.org/show_bug.cgi?id=1332447

I doesn't seem like the API gets support for hiding the default tab browser with Firefox 57, so the horizontal tab browser will be at least for one release round visible.

Actually, it is good having an extra issue for that, since I can't fix it with #13 for the named r

[2017-09-30 20:45] Croydon commented on #64
This will be fixed with #128.

[2017-09-30 20:45] #64 closed

[2017-09-30 20:48] Croydon commented on #64
To be more exact: Maybe not, but there is nothing I can really do here.

The WebExtension version won't hide the tab titlebar via default, now will it be possible to toggle it from within the VTR options anymore. Together with hiding the default tab browser, this really becomes a bug, which only Firefox itself can solve.

[2017-09-30 23:35] Croydon commented on #13
The developer channel has a new update with a close button (finally) and some other improvements, however, mostly internal refactoring at this point. I'm expecting to puslish now a lot faster updates on this channel going forward.

**The release channel will also get soon an update (v0.8.5), which is likely going to be the last update for the legacy (hybrid) version.** It will contain only small-i

[2017-09-30 23:37] Croydon commented on #13
Also thanks for exactly 15.000 downloads so far :)
![15000downloads](https://user-images.githubusercontent.com/1593194/31050384-266c978e-a649-11e7-898d-40f6432964e5.PNG)

[2017-10-01 02:35] Croydon commented on #82
I'm still not able to reproduce this. However, with the full WebExtension version of VTR (v0.9.0 and later) the title bar will be completely untouched by VTR, therefore solving this issue (if it is actually caused by VTR).

@santonino1984 So if you stay on the ESR channel with FF52+v0.7.1 for now, then upgrade to the next ESR and re-enable VTR updates (don't forget that! 😉 ) it should be fine for

[2017-10-02 07:36] SmaugTheGreat opened #129 "Regression: Doesn't remember the width of the sidebar"
Add-on version: 0.8.5
Firefox version: 56.0
OS + OS-Version: Windows 7

Since the last October 1st update, the width of the sidebar always gets set to only show the icons but not the tab titles. I have to manually resize it every time now that I start Firefox. Pretty annoying.

[2017-10-03 17:05] Croydon commented on #13
I feel forced to remove the compact mode, which hides the text label and enabled so far an favicon-only tab sidebar.
The WebExtension sidebars have a too broad min-width, making the feature in it's current form useless.

Anybody with a creative idea to keep a similar, space saving feature?

[2017-10-03 18:34] Croydon commented on #129
@SmaugTheGreat Please update to v0.8.5.1 and report if this bug is still existing for you :)

[2017-10-04 06:55] sabi0 commented on #129
Update to 0.8.5.1 fixed restoring the width. But the position (left / right) is still not remembered.
Irregardless of the setting I always have tab bar displayed on the left after restarting Firefox.

[2017-10-04 06:58] sabi0 commented on #129
Btw, the setting works as a dummy toggle.
Say I have tab bar on the left while "display on the right" is checked. When I uncheck the option (i.e. tabs should be on the left) the tab bar is moved to the right.
I believe it should use the current checked state instead of something like onchange = flipTabBarPosition().

[2017-10-04 07:53] sabi0 commented on #129
The above tab bar position problem seems to be an artifact of Firefox 55.0.3. Now that I upgraded to Firefox 56.0 the problem is gone.

[2017-10-04 09:21] Croydon commented on #129
@sabi0 It still could happened with FF57 with v0.8.5.1. v0.8.5.2 should fix it now for the tab sidebar position as well.

Please provide feedback if this is happening again with v0.8.5.2.

[2017-10-04 22:11] SmaugTheGreat commented on #129
The update fixed the problem with the width for me :) Thanks!

[2017-10-04 22:34] SmaugTheGreat commented on #129
Nevermind, it's not fully fixed yet. If I adjust the width and then restart the browser, it remembers it. However, if I then don't change the width and restart the browser, it gets set back to minimal width :(

[2017-10-05 16:18] Croydon commented on #129
@SmaugTheGreat Are you sure that it is related to setting a new width i.e. can you reproduce it again and again?

From my current understanding this bug comes from a race from Firefox and VTR, whoever sets this attributes the last "wins".

[2017-10-05 19:00] SmaugTheGreat commented on #129
Hm, it was reproducable yesterday, however it's not reproducable today :S

[2017-10-05 20:05] woj-tek commented on #129
I also had the same issue. It's really hit-or-miss - sometimes when I start Fx the tabbar is on the left (even though I have checked "on the right" [and disabling it moves it to the right -- rather confusing]) and it's very narrow. Looks/feels like some settings access problem.

[2017-10-05 20:55] Croydon commented on #129
This is fixed.

You had this problem or do you still have it with v0.8.5.2?

[2017-10-06 00:50] woj-tek commented on #129
It seems to be working ok with v0.8.5 **.2**

[2017-10-07 13:51] bwinton commented on #13
What about keeping the favicon-only tabs, but wrapping them, like
![this](https://user-images.githubusercontent.com/159571/31308441-0496216a-ab45-11e7-8d70-921b731f1a02.png)?

[2017-10-07 16:55] grahamperrin opened #130 "thumbnails – emphasis on visuals – with Vertical Tabs Reloaded"
From <https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-333912233>:

From my point of view, the extension **does** already save space by not using thumbnails.

## Enhancement request

A user preference, to show thumbnails.

I guess, it will be relatively easy to aim for the approaches taken by [Tab Center](https://testpilot.firefox.com/experiments/tab-center) and [Tab Center

[2017-10-07 17:03] grahamperrin commented on #13
Personally, I'm not a fan of arrays. Maybe because …

(A possibility of extensive discussion. @Croydon would you like to spin this into a separate issue so that `#13` can remain reasonably terse/focused?)

[2017-10-07 17:33] grahamperrin commented on #4
For what it's worth, most of my bets are on this successor to Tab Groups:

## [Simplified Tab Groups](https://addons.mozilla.org/addon/tab-groups/)

Recent thoughts, condensed …

<https://discourse.mozilla.org/t/-/13310/28?u=grahamperrin> a week ago under _Concern about WebExtensions exclusive strategy from add-on authors and users - Mozillians - Mozilla Discourse_, and then <https://discourse.moz

[2017-10-08 06:58] SmaugTheGreat commented on #129
It not remembering the width definitely does still happen occasionally, it's just not reproducible.

[2017-10-12 03:05] grahamperrin commented on #42
Partly in response to https://matrix.to/#/!xAcrCyjpCWOtluwgSS:matrix.org/$1507765477330816mWgia:matrix.org

Unfortunately my (OBS) screen recordings do not capture mouse clicks, but I'm almost certain that in this frame (for example) there _was_ a click on the 'close' icon (2017-10-11 at 02:39:43):

![2017-10-11 02 39 43 frame](https://user-images.githubusercontent.com/192271/31476924-efc635d0-af0

[2017-10-12 13:05] LookingForWayOut opened #131 "Advance Options?"
Add-on version: 0.8.5.2
Firefox version: 56.0.1 64b
OS + OS-Version: W10
Other tab + user interface related add-ons:

I clicked on advance options but nothing happens.
I am looking for options to sort by name, opener, etc, and the option for tabs to be opened under parent tab.

Are they there?

Thank you.

[2017-10-12 15:30] Croydon commented on #131
No, VTR has not such options.

The bug is fixed in the WebExtension-only version (currently only in the developer channel), but I won't fix it in the legacy form anymore.

The advanced options are mainly for debugging right now, so you won't miss anything there 😄

[2017-10-12 15:30] #131 closed

[2017-10-13 00:11] Croydon commented on #117
https://bugzilla.mozilla.org/show_bug.cgi?id=1404746

[2017-10-16 12:05] InfernoZeus commented on #13
I'm not sure this is always working. If I open a link from a pinned tab, the tab opens at the start of the built-in tab bar, but is placed at the end of VTR's bar.

[2017-10-19 06:03] grahamperrin commented on #42
Now, with Vertical Tabs Reloaded 0.8.5.2 and Firefox 56.0.1 (64-bit) on FreeBSD-CURRENT:

a) I'm _certain_ that the symptoms in this issue can be triggered whilst the user's preference is to show (not hide) the bar; and

b) where e.g. [Session Manager](https://addons.mozilla.org/addon/session-manager/) is used, a consequence of this issue 42 may be **incomplete session information** saved at quit

[2017-10-26 20:25] woj-tek opened #132 "Close tab button is huuuuge"
Add-on version: 0.8.6a1
Firefox version: DevEd 57.0b11 (64-bit)
OS + OS-Version: HighSierra 10.13

With the above configuration the close tab button is huge

[2017-10-26 20:26] Croydon commented on #132
Could you please make a screenshot?

[2017-10-26 20:27] woj-tek commented on #132
https://www.dropbox.com/s/mjtsndwtlhbfzcz/Captura%20de%20pantalla%202017-10-26%2017.26.53.png?dl=0

[2017-10-30 15:55] Croydon commented on #129
I have implemented workarounds for the most cases in v0.8.5.1 and v0.8.5.2.

Since we are two weeks away now from the FF57 release I will definitely not spend time on this anymore, sorry.

[2017-10-30 15:55] #129 closed

[2017-10-30 16:09] #85 closed

[2017-10-30 16:10] Croydon commented on #85
Fixed in the upcoming WebExtension version.

[2017-10-30 16:46] Croydon commented on #89
I'm going to close this as invalid, since I'm still not sure if this is really caused by VTR in some way. I have the same behaviour actually in Nightly without any add-ons at all. Might be simply a setting or some side effect in same cases.

Since the FF57 release is two weeks away I'm not going to investigate here. If it this is caused actually by VTR it will be fixed with the v0.9 release in ca.

[2017-10-30 16:46] #89 closed

[2017-10-30 17:19] Croydon commented on #13
@InfernoZeus:

Thanks for reporting! I actually only tested for the tab order at startup, when existing tabs are getting reordered and when blank tabs are getting created. I didn't test for opening links in new tabs.
Should be fixed with v0.8.6a3.

[2017-10-30 17:39] Croydon commented on #13
In the current alpha version pinned tabs cause that not-pinned tabs don't show up which already exists at startup. I'm on it...

[2017-10-31 10:13] InfernoZeus commented on #13
@Croydon Thanks for the fix, will test it out 😄

Hmm, I just went to check which version I had installed, and it already shows v0.8.6a3. I think Firefox must have just updated it for me. Just around that time, the sidebar glitched out on me. It's now only showing a couple of my previously pinned tabs (2 of 7), and a couple of new tabs I've opened since it glitched. Looking at the browser console,

[2017-10-31 10:18] InfernoZeus commented on #13
I tried to restart the browser, but the same behaviour persists. Only 2 out of my 7 pinned tabs show, and no others. Only newly opened tabs get added.

I tried enabling debug logging, but it just prints
[code]
over and over and over again, multiple times a second.

[2017-11-02 22:16] Croydon opened #134 "Toggling of sidebar doesn't always work due to Firefox API limitations"
Toggling of the sidebar via VTR icon is unreliable, due to limitations in Firefox WebExtension APIs.

 * Firefox should add a function to be able to read the state (open, closed) of the extension sidebar in the current window
 * It's possible to manually workaround this for some cases
   * by keeping manually track of the status
   * **however**, this is not reliable since there are serveral ways

[2017-11-02 22:53] Croydon commented on #13
@InfernoZeus

That is exactly the bug I mentioned in the comment above yours 😄

Leftover. Removed now.

[2017-11-02 23:00] Croydon opened #135 "Add a new compact, favicon-only mode"
I was forced to remove the former implemention since WebExtension sidebars have a too broad min width. Showing only one favicon per sidebar "line", doesn't make sense anymore due to this. (https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-333912233)

Suggestion for a new implemention: https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-334936555

I haven

[2017-11-02 23:01] Croydon commented on #103
I'm not going to fix this in the current legacy form of the add-on.

When VTR is rewritten as a WebExtension the compact mode in the current form will go away. More information at #135.

[2017-11-02 23:01] #103 closed

[2017-11-02 23:03] Croydon commented on #107
I'm sorry, but the legacy form of the add-on won't get a fix for this anymore.

This is not a bug in the WebExtension version.

[2017-11-02 23:03] #107 closed

[2017-11-02 23:07] Croydon commented on #118
This is not caused by VTR, but rather Firefox itself.

However, on the upside, the upcoming WebExtension version of VTR won't have this behaviour anymore 😄

[2017-11-02 23:07] #118 closed

[2017-11-02 23:12] Croydon commented on #102
It will be fixed with the first full WebExtension version of VTR, which will be v0.9.0 (or any alpha version since v0.8.6).

Will be released not later than 14 Nov.

[2017-11-02 23:12] #102 closed

[2017-11-02 23:15] Croydon commented on #8
Already fixed in the dev version, will be soon on stable.

[2017-11-02 23:15] #8 closed

[2017-11-02 23:17] Croydon commented on #121
Closing as duplicate of #20.

[2017-11-02 23:17] #121 closed

[2017-11-02 23:19] Croydon commented on #101
Well, the close button still causes problems (like #132), but the problem in this form is solved.

[2017-11-02 23:19] #101 closed

[2017-11-02 23:22] Croydon commented on #82
Going to close this as invalid since I couldn't reproduce this.

[2017-11-02 23:22] #82 closed

[2017-11-02 23:24] Croydon commented on #42
Will not happen with the WebExtension version (v0.9.0), does already not happening anymore in the developer versions (starting with v0.8.6).

Will land in release not later than Nov 14.

[2017-11-02 23:24] #42 closed

[2017-11-03 00:09] InfernoZeus commented on #13
Whoops! Although it's also hiding later pinned tabs in my case.

[2017-11-04 11:34] alexander255 commented on #134
Hi! Just read this issue and realized that I had a similar issue in my extension *User Agent Switcher*: I needed to know (from the background script) when the user closed the `browserAction` popup, so that I could delay applying some settings.

My solution was this:

  * Use `browser.runtime.onConnect` in background page to listen for connections
  * When popup menu is opened:
     - Run script th

[2017-11-05 20:39] #132 closed

[2017-11-05 20:40] Croydon commented on #132
@woj-tek Can you please try 0.8.6a5 and report if it's fixed for you?

[2017-11-05 21:24] woj-tek commented on #132
I confirm it's fixed. Thank you.

[2017-11-06 01:12] grahamperrin commented on #42
OK 👍

I expect to use 56.x until the [August 2018 release of Firefox 62](https://wiki.mozilla.org/RapidRelease/Calendar#Future_branch_dates). With what's below, I have more than enough to make this bug with legacy Vertical Tabs Reloaded ❤️ (in use with Tab Groups ❤️ and other legacy extensions) _extremely_ rare for me ☑️

----

By coincidence today I captured, whilst recording the screen, what I b

[2017-11-06 17:07] Croydon opened #136 "Empower templates/themes to react on changed tab titles"
The Darwin theme in the pre-WebExtension form has the ability to show a visual hint on the tab, when the tab title changed and the tab is not selected currently.

This can be good to catch the attention of the user for updated content in a tab.

Templates/Themes should get this possibility again.

[2017-11-06 17:59] grahamperrin commented on #89
Worth noting:

- Mozilla bug [1378459 - Allow some addon functionality to load prior to any content loading](https://bugzilla.mozilla.org/show_bug.cgi?id=1378459)

[2017-11-11 00:09] #91 closed

[2017-11-11 15:08] d-damien opened #137 "VTR uses a lot of my CPU"
Add-on version: 0.8.5.2
Firefox version: 56.0
OS + OS-Version: Linuxmint 18.2 (based on Ubuntu 16.04)
User interface add-ons: Vimfx

When VTR is enabled, even with few tabs and basically no activity (static web pages and no action of me), Firefox uses 15-30% of my CPU power, when it is 0-5% disabled.

[2017-11-11 15:51] Croydon opened #138 "Implement a native looking theme again"
The former "none" theme, which used Firefox's UI CSS got removed, since this wasn't possible anymore with a WebExtension due to sandboxing.

Starting with Firefox 58 it will be possible again.

https://bugzilla.mozilla.org/show_bug.cgi?id=1349944

I plan to reimplement it at some point. It might be necessary to wait a bit longer even after the release of Firefox 58 till the point, when Firefox the

[2017-11-11 18:34] Croydon commented on #13
Tab placing and moving when pinned tabs exist should be fixed with v0.8.6a9.

@InfernoZeus Could you please test and provide feedback?

[2017-11-12 01:39] Croydon opened #139 "Create a custom theme gallery"
Once custom themes are implemented (#40), there needs to be a place where users can explore them.

[2017-11-12 04:04] Croydon commented on #13
I have implemented a landing page with update information. It will be opened once after the update.

![vtrlandingfull](https://user-images.githubusercontent.com/1593194/32695798-df8bb8d8-c766-11e7-9d7b-4d8059b6280c.png)

[2017-11-13 03:45] Croydon opened #140 "Allow drag&drop to the bookmarks"
Feature lost temporary in the transition to WebExtension.

[2017-11-13 04:12] Croydon opened #141 "Give visual help when drag&drop tabs"
Feature lost temporary in the transition to WebExtension.

[2017-11-13 04:53] Croydon commented on #13
I just implemented drag&drop.
It's very basic right now, will be improved in post 0.9.0 releases (#140, #141).

[2017-11-13 04:54] Croydon opened #142 "Allow drag&drop between windows"
Feature lost temporary in the transition to WebExtension.

[2017-11-14 02:25] Croydon commented on #28
"Fixed" with v0.9.

Will be really fixed with #141.

[2017-11-14 02:25] #28 closed

[2017-11-14 02:26] Croydon commented on #28
https://github.com/Croydon/vertical-tabs-reloaded/commit/9417e34b1cc37d956c533e509010c48fe26f1bb7

[2017-11-14 03:40] #13 closed

[2017-11-14 03:46] Croydon commented on #13
And just in time for the Firefox 57 release today, this is finally...

# DONE! 🎉🕺🏼🎉

**The first stable WebExtension version is now on AMO!**

Obviously, there are still a few rough edges, but I'm expecting it to mature fast going forward, after all creating the basics was the hardest step.

**A huuuuge thank you to everyone testing, reporting bugs, using VTR and to anyone being patient when VTR d

[2017-11-14 14:43] codecat commented on #128
Following this issue closely since today's release of 57. This is frustrating me already :(

[2017-11-14 14:47] codecat opened #143 "Can't middle click tabs to close them since Firefox 57"
Add-on version: 0.9.0
Firefox version: 57.0
OS + OS-Version: Windows 10
Other tab + user interface related add-ons: None

Additionally, middle mouse clicking on the empty space in the tab bar doesn't open a new tab.

[2017-11-14 16:59] nt1m opened #144 "Integrate with the current theme"
From 58 onwards, you can get the current theme properties:

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/theme/getCurrent

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/theme/onUpdated

Why is this useful ?
Integrating with dynamic themes like [VivaldiFox](https://addons.mozilla.org/en-US/firefox/addon/vivaldifox/) or [Container Theme](https://addons.mozilla.org/en

[2017-11-14 18:06] Croydon commented on #144
Please use the search before reporting issues.

This is a duplicate of #138

[2017-11-14 18:06] #144 closed

[2017-11-14 18:28] Croydon commented on #143
This was never a feature of VTR.

It was (is?) a feature of Firefox, which was passing through to VTR.

Due to the sandboxing nature of WebExtensions you notice now just the plain behaviour of VTR itself.

Actually, people compained about that before and categorized this as a bug https://github.com/Croydon/vertical-tabs-reloaded/issues/118

So I'm not sure yet what to do about that...

Single clic

[2017-11-14 18:34] Croydon commented on #137
@d-damien Can you please retest with VTR 0.9 and Firefox 57?

[2017-11-14 18:39] CaseyKazan opened #145 "FEATURE "ENABLED"!"
Add-on version: 0.9.0
Firefox version: 57.0
OS + OS-Version: Win 10 + ver 1703
Other tab + user interface related add-ons: n/a

Hi, just got the new Firefox update (why couldn't Firefox get more extensions updated by the developers??????) and the new VTR -- THANK YOU, VTR!

Hated the idea of having the vert tabs but not being able to get rid of the redundant horizontal tab bar at the top of Firefo

[2017-11-14 19:20] codecat commented on #143
Double clicking does work, yes, but middle clicking has been a feature of the Firefox tab bar for years! :)

I would also have to say I disagree with the reporter of #118 because of the above reason. I suppose however they were having issues with it while scrolling through a list of tabs, which in that case, having a setting for it probably doesn't hurt.

[2017-11-14 21:35] KevinMars opened #146 "Allowing minimization to just icons"
Add-on version: 0.9.1
Firefox version: 57.0
OS + OS-Version: Mac High Sierra

Hi is it possible to allow minimizing the size until we just see icons. I think there is a way to do it using userChrome.css files but I haven't had a chance to try it out yet.

[2017-11-14 21:40] KevinMars commented on #146
Sorry I see this is mentioned already.

[2017-11-14 21:40] #146 closed

[2017-11-14 22:18] Croydon commented on #146
Duplicate of #135

[2017-11-14 22:27] nt1m commented on #138
browser.theme.getCurrent() only works with webextension themes (like VivaldiFox or Container themes). For the default theme, it will just return `{}`.

[2017-11-15 00:05] Prototyped commented on #128
Solvable via users' own userChrome.css, even if it can't be done via the WebExtensions API:

https://github.com/piroor/treestyletab/issues/1224#issuecomment-304414920

[2017-11-15 06:07] repaxan opened #147 "Tab context menu goes off-screen"
Add-on version: 0.9.1
Firefox version: 57
OS + OS-Version: Windows 10

The little right-click context menu isn't smart enough to flip in a different direction if opened too close to the edge.

![](https://i.imgur.com/q00LqK7.png)

[2017-11-15 06:13] repaxan opened #148 "Active tab cosmetic issues on browser close/reopen"
Add-on version: 0.9.1
Firefox version: 57
OS + OS-Version: Windows 10

When closing and reopening Firefox, the active tab has some display issues. It loses the favicon until you close it. It's also not darker and bolded until you leave and come back to it.

Active tab is marked (yay paint):
![](https://i.imgur.com/LadA7r1.png)

[2017-11-15 06:17] repaxan opened #149 "Tab context menu doesn't close when clicking outside the sidebar area"
Add-on version: 0.9.1
Firefox version: 57
OS + OS-Version: Windows 10

It only closes when you click elsewhere in the sidebar.

[2017-11-15 06:21] repaxan opened #150 "Close/reopening browser doesn't keep the scroll location of the sidebar"
Add-on version: 0.9.1
Firefox version: 57
OS + OS-Version: Windows 10

I think it used to do this - when I closed firefox and opened it up again later, it'd scroll the sidebar to where it used to be.

Now, even if the active tab is at the very bottom of the list, it stays scrolled to the top until I change the tab.

[2017-11-15 06:53] repaxan opened #151 "Scrolls to the bottom with tab positioning addons installed"
Add-on version: 0.9.1
Firefox version: 57
OS + OS-Version: Windows 10

With addons such as "Always Right" or "Open Tabs Next to Current" installed, opening a new tab scrolls the sidebar all the way to the bottom, even though the new tab is correctly put next to the current tab.

This seems to be why:

https://hacks.mozilla.org/2017/09/always-right-a-webextension-migration-story/

[2017-11-15 08:33] Croydon commented on #151
I will check it out. Sounds like a race condition to me. VTR would regularly move the tab around when it's moved by a third-party.

[2017-11-15 09:31] achermes commented on #143
I for one use this feature a lot to quickly close a lot of tabs - after all, it's easier to place your cursor in a bar then on a small X.

[2017-11-15 09:44] gautam142857 opened #152 "Shortcut to show tab list."
Currently clicking on the " V " button at the bottom shows a list of all tabs open. Providing a shortcut for this button will be similar to open tabs in Intellij ( Cmd + E ) and Quick Tabs extension available for chrome. I would love to hide the sidebar with ( Cmd + Shift + V ) to get more screen space and navigate only using Cmd + E.

[2017-11-15 09:56] alexander255 commented on #138
@nt1m: But you should be able to use the [legacy system colors](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#System_Colors) (contain values from the current system's theme), when no overrides by the browser theme are set.

[2017-11-15 11:48] woj-tek commented on #143
That's a single report and there are at least 3 persons in this thread in favour of the feature (me included). And yes - I also do consider middle-click-to-close as very handy feature.

[2017-11-15 12:01] codecat commented on #143
Exactly this, in fact, previously I have explicitly hidden the X on tabs because with middle clidking the X isn't a useful button to see and it just takes space.

[2017-11-15 15:30] Croydon commented on #119
@glacjay Is this problem solved for you with VTR 0.9 and Firefox 57?

You can just close the sidebar on the Firefox instance where you don't want to use it and VTR will pretty much be "disabled".

When I'm able to implement the hiding of the default tabbrowser again (#128), I will do it in an opt-out way.

[2017-11-15 15:44] Croydon commented on #152
In the most up to date version, this button does not exist anymore. There is a reason why there is an issue template with information people should fill out when reporting issues 😄

This is not clear to me. If you hide the sidebar the button is gone with it. How do you want to navigate with a non-displaying button?

[2017-11-15 17:43] Croydon commented on #143
Yes, but there were also others.

I will going to implement this.

I will also add the possibility to close tabs with a middle-click as opt-in.

[2017-11-15 18:02] SmaugTheGreat commented on #143
I switched to Tree Style Tabs until this issue is fixed. I think it's very important. Also the X-buttons take up way too much space and don't look pretty.

[2017-11-15 18:14] jonasflint commented on #135
This is essentially the only reason I was using this add on.    I have long vertical tabs. It takes up way too much space....

[2017-11-15 18:17] jonasflint commented on #13
Uggggh. Congrats on the release. Unfortunately I don't really have use for the addon for the following reasons:
1. Compact / Icon Only Mode is gone - this was the only reason I even used this addon. (I loved it for this)

2. The Horizontal tabs are still there! What's the point on having two sets of tabs taking up space??!!

[2017-11-15 18:19] codecat commented on #143
![image](https://user-images.githubusercontent.com/136534/32852933-e28fded0-ca39-11e7-9397-3fd58fbcc632.png)
The text actually goes *under* the close button for me.. :)

[2017-11-15 18:32] bwinton commented on #13
@jonasflint:
1. shouldn't be _too_ hard to add… I did something similar in [this pull request](https://github.com/eoger/tabcenter-redux/pull/106).
2. is possible with a userChrome.css change, as described [here](https://github.com/eoger/tabcenter-redux/issues/15#issuecomment-334548845).

[2017-11-15 18:39] jonasflint commented on #128
I don't see much of a point on having the extension if there are going to be two tab sets...

[2017-11-15 18:46] jonasflint commented on #13
So @bwinton will you be implementing this?  It would be a life saver!

[2017-11-15 18:55] Croydon commented on #128
I can only repeat: There is nothing I can do about this at this point. You could upvote the bug in Bugzilla to help Mozilla get an overview what APIs are the most wanted ones :)

[2017-11-15 19:51] bwinton commented on #13
I wouldn't wait for me to implement it if anyone else was interested, but if I have some free time over Christmas, I might give it a stab…

[2017-11-15 23:54] jacqueskotze opened #153 "Both horizontal and vertical tabs are showing after latest update"
Add-on version: 0.9.1
Firefox version: 57.0 (64-bit)
OS + OS-Version: Win 10 Pro, 1703 Build 15063.726
Other tab + user interface related add-ons: AdBliock PLus, Avast Online Security, Evernote Clipper, LastPass

![image](https://user-images.githubusercontent.com/3579573/32866324-0dd07288-ca5f-11e7-91c6-9f555b78351b.png)

Today both Firefox and VTR updated and I'm left with both the verital and ho

[2017-11-16 01:25] glacjay commented on #119
Yes, this solves my problem, thanks.

[2017-11-16 01:25] #119 closed

[2017-11-16 01:29] voxadam commented on #153
https://github.com/Croydon/vertical-tabs-reloaded/issues/13#issuecomment-344681263

[2017-11-16 12:22] Croydon commented on #153
Please use the search before reporting issues.

This is a duplicate of #128.

[2017-11-16 12:22] #153 closed

[2017-11-16 15:45] gautam142857 commented on #152
Should there always be a visible / clickable button for an action to be performed ? Can there be a list whose visibility is controlled by some key combinations ? This would be more of an implementation discussion. Before that we should decide whether the feature makes sense. I'd like to try to explain the feature once more :
-  A certain key combination shows a list of all the tabs that are open.

[2017-11-16 22:24] #148 closed

[2017-11-16 22:35] Croydon commented on #150
This should be semi-fixed with ebaf62e68b8caeca67885af89d58af9bd8837e7d (v0.9.2).

However, right now the active tab is always at the very end. I would like to restore the exact scroll position on a re-opening as long as the active tab is visible. I will do this likely in a few days.

[2017-11-16 22:37] Croydon commented on #151
Can you re-test this please with v0.9.2?

[2017-11-16 22:47] Croydon commented on #145
This is issue #128 - short version: Firefox limitation which VTR can't work around right now.

I might add this as an opt-in feature. It's definitely not a thing most people would expect from scrolling.

[2017-11-17 01:48] Korodny opened #156 "Pinned tabs always display busy favicon after FF start"
With VTR 0.9.2 on FF 57.0b6 (64 Bit, Debian testing), my pinned tabs do not display their favicon after Firefox's start, instead they show the spinning 'busy' icon forever. The pinned tabs seem to work perfectly fine otherwise, AFAICT. Hiding and reenabling the VTR sidebar using the View->Sidebar->VTR menu item fixes the problem, i.e. after that the actual favicon is displayed.

I'm not running an

[2017-11-17 03:25] kristjaneerik commented on #151
Still broken for me.

[2017-11-17 16:52] InfernoZeus commented on #13
@Croydon Sorry for the slow feedback re the issues I raised.

Can confirm that the issue with tabs always being placed at the end is gone.
I can also move tabs now, but the "faded" preview of the dragged tab gets stuck briefly after starting to drag - is that expected?

[2017-11-18 04:54] repaxan commented on #151
Yup, still broken for me.

[2017-11-18 15:23] grahamperrin commented on #4
@Croydon just FYI https://github.com/Quicksaver/Tab-Groups/issues/535#issuecomment-341179257 quotes a mention of _a straight up rewrite/replacement_ …

[2017-11-19 12:27] d-damien commented on #137
Seems fixed in 57 indeed.

[2017-11-19 13:06] #137 closed

[2017-11-19 19:25] Croydon commented on #151
v0.9.3 will make this working **IN SAME CASES**.

No matter what I'm doing it won't be reliable until  https://bugzilla.mozilla.org/show_bug.cgi?id=1387372 is fixed.

This is out of my hands, sorry.

[2017-11-21 01:52] Croydon opened #157 "Template: Replace all non-atomic sizing attributes"
This blocks progress on fixing some layout glitches + preparing further steps towards custom themes #40.

[2017-11-21 15:04] NeoRaider commented on #151
Somewhat related, but without any tab-positioning addons involved: the sidebar does *not* scroll to the top when a tab is opened from a pinned tab, even though the tab is created at the top. Will this also be addressed by the fix in v0.9.4, or should I open a separate issue?

[2017-11-23 12:40] codecat commented on #147
I'm curious, I assume this is some kind of html context menu rather than a native OS context menu? Is it not possible to make a native-OS context menu in the new Firefox API?

[2017-11-23 14:45] Croydon commented on #147
Yes, it's a custom HTML context menu.

It is, but as a result you would get all website related context menu entries and at the very end a single VTR entry which has all options as a sub-menu. This would only confuse people and the VTR options wouldn't be nice to reach.

Related bugzilla bugs, which could change that: https://bugzilla.mozilla.org/show_bug.cgi?id=1397249 (which is already denied) &

[2017-11-24 01:28] #147 closed

[2017-11-24 01:28] #157 closed

[2017-11-24 02:28] Croydon opened #158 "Improve sidebar opening performance"
It's terrible right now.

https://bugzilla.mozilla.org/show_bug.cgi?id=1371255

[2017-11-24 02:31] Croydon commented on #149
This is tricky. I could make it close when you move with the mouse outside of the sidebar, but this could lead to unwanted closings.

Your scenario is was users would expect, but it would require to inject a script into every single opened website just for this purpose. That would be insane and inappropriate. And would not even work for privileged tabs like most Firefox build-in pages.

[2017-11-25 01:34] #143 closed

[2017-11-25 01:35] Croydon commented on #143
Done with 0.10.0a2 / will be done with 0.10.0 stable.

![closemiddleclick](https://user-images.githubusercontent.com/1593194/33226228-3d2a2048-d189-11e7-8c62-ca56ae12532d.png)

[2017-11-25 03:22] #149 closed

[2017-11-26 01:30] Croydon commented on #145
I got another request from someone who wants to have the active tab switched already on hovering.

[2017-11-26 19:07] ludasmokva opened #159 "Tab toolbar buttons don't react on clicks"
Add-on version: 0.9.4
Firefox version: 57 64-bit
OS + OS-Version: Win 7
Other tab + user interface related add-ons: Tab Mix Plus... but just deleted it as it is legacy

Soooo... I think I am missing something.
I can't add new tab.
There is a '+' and gear/sun icon at the bottom, but when I press them, nothing happens.
I am not sure how to add a new tab without going to the menu.
I am pretty certain

[2017-11-26 19:35] Croydon commented on #159
Quick workaround: Ctrl+T opens a new tab, should be faster than opening via menu.

The + in the tab toolbar should work, I have a closer look later.

[2017-11-26 19:50] ludasmokva commented on #159
:) Thanks. Workaround is good for now.
I'll try a few other things on my end as well and let you know if something pops.

[2017-11-27 12:09] PaoloLXVIII opened #160 "Openning tabs next to current"
Add-on version: 0.9.4
Firefox version: 57
OS + OS-Version: Windows 7, 64bit
Other tab + user interface related add-ons:

I use this:
https://github.com/sblask/webextension-open-tabs-next-to-current
but in VTR it doesn't works.

I want open tabs next to current, please.

What is more easily for you - add feature to VTR or good comunication with this extension ?

Thanks

[2017-11-27 15:14] mbaz commented on #145
I want to add a counterpoint: scrolling should scroll the tablist, not the active tab. Likewise, hovering shouldn't change the active tab. I have tried both behaviors (they were supported by one of VTR's antecessors many years ago) and I actively hate them. At least, please give the user the possibility to disable them.

[2017-11-27 18:01] CaseyKazan commented on #145
If somebody has more tabs than fit in the vertical tab column, there is a scroll bar so I'm not sure what mbaz means by "scrolling should scroll the tablist" -- it already does (unless mbaz means being able to use a mouse scroll wheel?).

As for my desire to restore the old feature of being able to simply hover to activate a different tab: the use of this feature was a setting option and the delay

[2017-11-28 15:53] Croydon commented on #160
Please use the search before reporting issues.

This is a duplicate of #151.

The only real solution is for Firefox to extend their WebExtension APIs.